[2020-10-28 10:28] TomWright opened #5 "Data format discovery"
**Is your feature request related to a problem? Please describe.**
It would be nice if dasel could guess the data format when a parser is not defined.

**Describe the solution you'd like**
Dasel will look at the given input and discover the data format (JSON for example).

This means the parser flag will no longer be required.

**Discovery**
How do we actually detect the file type?

If it starts w

[2020-10-28 10:31] TomWright opened #6 "Use - as alias of stdin/stdout"
**Describe the solution you'd like**
Use `-` as an alias for `stdin`/`stdout` in the context of the `--out` and `--file` flags.

This shortens commands and enabled dasel to use a pattern used by a lot of *nix tools.

[2020-10-28 10:34] TomWright opened #7 "Support XML data format"
**Is your feature request related to a problem? Please describe.**
There's no way to query XML data formats.

**Describe the solution you'd like**
Add a new parser type of `xml`.

It should be auto-detected if the input filename ends with `.xml`.

It should be able to deal with XML strings.

**Additional context**
There is an xml package available here: https://golang.org/pkg/encoding/xml/

[2020-10-28 10:40] TomWright opened #8 "Assume first argument is selector if no flag is given"
**Is your feature request related to a problem? Please describe.**
It's annoying to have to specify the `-s` flag in every command.

**Describe the solution you'd like**
If no `-s` flag is given, assume that the first argument is the selector.

This means that the following are equivalent:
[code]

The same should work with put commands...
[code]

**Additional context**
This will remain backwards c

[2020-10-28 10:45] TomWright opened #9 "Default to select command"
**Describe the solution you'd like**
If no `put` or `select` command is given, default to select.

This will make the following equivalent:

[code]

This shortens the commands and makes dasel more inline with the go-to tools for JSON/YAML (jq/yq).

**Additional context**
https://github.com/spf13/cobra/issues/725
https://github.com/spf13/cobra/issues/823

[2020-10-28 11:08] #6 closed

[2020-10-28 11:36] #8 closed

[2020-10-28 13:49] #9 closed

[2020-10-28 16:49] #7 closed

[2020-10-29 08:27] ewen-lbh commented on #5
You could also use `encoding/json`'s `Validate` (I guess that packages to marshal/unmarshal also have an equivalent function), it'd complement those basic checks

[2020-10-29 10:00] TomWright commented on #5
Thanks for your input.

That does have drawbacks of potentially unmarshalling the entire document twice - once when finding the parser and again to do the lookup.

With some re-working of the logic it's possible to only unmarshal the data once in which case this would be great.

I'll leave this here for further ideas and input before I start working on it.

[2020-10-29 11:07] TomWright opened #15 "Multi-select"
**Is your feature request related to a problem? Please describe.**
Selectors only allow you to target a single item at a time.

E.g.
[code]

[code]

There is no way for me to find *all* items that match the condition.

**Describe the solution you'd like**
Add a `-m`, `--multiple` flag that tells dasel to return multiple matched items.

[code]

It would also be nice to be able to target all items o

[2020-10-29 16:25] TomWright opened #16 "Dynamic sub-selectors"
**Describe the solution you'd like**
Given the following JSON document:
[code]

it would be nice to be able to perform a query like this:

[code]

Query definition in plain English:

**Additional context**
The new dynamic filter is essentially defining a new rootNode from the current node, and querying against it with the given selector.

[2020-10-29 22:22] TomWright opened #17 "Select output should be parsed into the correct format"
**Describe the bug**
We currently have:
[code]

We should have:
[code]

**Expected behavior**
The output from select should be marshalled back into the expected file format.

**Additional context**
This will be a breaking change in terms of the command line functionality, but it's a worthwhile fix considering the current age of dasel.

[2020-10-29 22:42] #17 closed

[2020-10-29 22:56] TomWright opened #19 "Flag to specify output format"
**Is your feature request related to a problem? Please describe.**
It would be nice to be able to specify a desired output format.
This will allow you to easily transform data from one format to another.

**Describe the solution you'd like**
A new flag `-n`, `--out-parser` to specify the parser to use on output.
This should be optional. If it is not present then use the input parser.

[code]

**De

[2020-10-29 23:36] TomWright opened #20 "Add a plain flag"
**Is your feature request related to a problem? Please describe.**
Sometimes I want to get my query results as a plain string rather than JSON encoded.

**Describe the solution you'd like**
A new `--plain` flag.

[code]

Becomes

[code]

[2020-10-29 23:54] #20 closed

[2020-10-31 08:58] ws-way opened #23 "Question on replacing value(s) single and multiple occurrences"
Hello,

I was pointed out by someone that this tool was better to replace (multiple) values in a yaml file than using sed. I have tried some examples, but it is not clear to me how to replace certain values in https://raw.githubusercontent.com/c4po/harbor_exporter/master/kubernetes/harbor-exporter.yaml

I need to replace multiple occurrences in this file, however, I am only able to select 1. How d

[2020-10-31 11:54] TomWright commented on #23
Thanks for your interest in dasel!

After taking a look at your example file I can tell you that dasel doesn't currently support multiple yaml documents in the same file due to limitations in the yaml package we use: https://github.com/go-yaml/yaml#compatibility

If this is a recurring issue I'll look at migrating to a new yaml package.

If we assume you have split the documents out into `service.

[2020-10-31 12:01] TomWright opened #24 "Multiple file flags"
**Is your feature request related to a problem? Please describe.**
Sometimes people need to run the same operation on multiple files.
For example: #23

**Describe the solution you'd like**
Allow `-f`, `--file` and `-o`, `--out` to be passed multiple times.

Dasel should then perform the operation (`put` or `select`) on all of the given files.

**Describe alternatives you've considered**
Comma sepa

[2020-10-31 12:02] #23 closed

[2020-10-31 13:00] ws-way commented on #23
Thanks, in the Kubernetes world a lot of files contains multiple yaml documents, so one command to change every occurence of something is very welcome!

[2020-10-31 14:36] ws-way opened #25 "How do I change a subvalue ?"
Hello again,

I am trying to change the value of line 74 (name: harbor-core # change prefix to the name of your Helm release) of https://raw.githubusercontent.com/c4po/harbor_exporter/master/kubernetes/harbor-exporter.yaml to something else, but

`dasel put string -f $file -s "spec.template.spec.containers.(name=harbor-exporter).env.(name=HARBOR_PASSWORD).valueFrom.secretKeyRef.name.value" "test"

[2020-10-31 15:44] ws-way commented on #25
Sorry. I had to use spec.template.spec.containers.(name=harbor-exporter).env.(name=HARBOR_PASSWORD).valueFrom.secretKeyRef.name without the .value. It is working.

[2020-10-31 15:44] #25 closed

[2020-11-01 19:59] #16 closed

[2020-11-02 17:45] TomWright opened #29 "YAML multi-document support"
Add YAML multi-document support.

[2020-11-06 15:07] TomWright opened #31 "CSV Support"
**Is your feature request related to a problem? Please describe.**
I've received requests for CSV support.

**Describe the solution you'd like**
A new parser of `csv`.
This would parse a CSV file into an array of maps and allow usage of all the standard selectors.

[2020-11-07 00:40] #29 closed

[2020-11-07 00:48] TomWright commented on #23
Hi @ws-way,
Multi-document YAML files are now supported as of `v1.2.0`.

[2020-11-07 06:18] ws-way commented on #23
Hi @TomWright ,

Thanks for adding this, I have read the readme.md and tested it, but it is unclear how I can change all values in an yaml file without knowing how much yaml documents are in there. Do you have an example?

[2020-11-07 23:57] TomWright commented on #23
Dasel is really only designed for use-cases where you know the structure of the files.

This sounds like you're after a search + multi-selector feature.

A feature request for multi-selector is here: https://github.com/TomWright/dasel/issues/15

I have thought about adding search functionality but haven't created a feature request for it yet.

[2020-11-08 11:48] ws-way commented on #23
Hello @TomWright ,

Ok, thanks for the answer!

[2020-11-08 15:09] #31 closed

[2020-11-08 23:36] #15 closed

[2020-11-08 23:41] TomWright commented on #23
As of `v1.4.0` multi-select is supported.

The following will set the metadata name in all yaml documents to `test`:

```dasel put string -m -f harbor-exporter.yaml '.[*].metadata.name' 'test'```

[2020-11-10 08:54] ws-way commented on #23
Hi @TomWright ,

Thanks, I will take a look at this later this week or next week.

[2020-11-11 17:55] ws-way commented on #23
Hello @TomWright ,

I am testing is, the multiline replace is working fine, thanks.

[2020-11-11 19:09] ws-way opened #35 "put string works with 1.0.4, but not with 1.4.0"
Hello @TomWright ,

I have a problem with my code, it is working with 1.0.4, but not with 1.4.0.

This is my yaml:

[code]
I am executng this:
[code]
The value for HARBOR_URI is not changed anymore under 1.4.0 and the layout is not correct anymore.

This is the output with 1.0.4

[code]

[2020-11-11 21:41] TomWright commented on #35
Thanks for raising this issue. I'll take a look at it

[2020-11-11 22:36] #35 closed

[2020-11-11 22:38] TomWright commented on #35
@ws-way I've found and resolved the issue in `v1.4.1`. I introduced a bug that went undetected when I added sub-selector functionality. I've got an additional test in place now so this shouldn't happen again.

Thanks for your help with dasel!

[2020-11-12 08:40] ws-way commented on #35
Hello @TomWright ,

Thanks, but there is still something wrong.

original:

`apiVersion: apps/v1
kind: Deployment
metadata:
  name: harbor-exporter
  labels:
    app: harbor-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: harbor-exporter
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: harbor-exporter
    spec:
      serviceAccountName:

[2020-11-12 10:38] TomWright commented on #35
Can you provide the full input file please? (make sure you wrap it in code tags so as the formatting is maintained)

As far as I can tell this is working as expected now: https://dasel.tomwright.me/s/2532f8ea-bd2b-42a2-8f9e-8a329ef3a1f8

The container definition now starts with `- env` which means the output ordering has changed as per [https://github.com/TomWright/dasel#preserved-formatting-and-o

[2020-11-12 11:32] ws-way commented on #35
I have tested it with your playground and it looks not ok to me. See the -env.

![image](https://user-images.githubusercontent.com/71637976/98934368-42fcba80-24e2-11eb-880e-8b16b7313715.png)

`
apiVersion: apps/v1
kind: Deployment
metadata:
  name: harbor-exporter
  labels:
    app: harbor-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: harbor-exporter
  strategy:
    type: Ro

[2020-11-12 11:36] TomWright commented on #35
Yes I see what you are talking about - that's what I meant with this statement:

The values within the container document have been re-ordered, but they are all there and present with the correct values, right?

[2020-11-12 14:24] ws-way opened #37 "How do I create a new yaml document"
Hello @TomWright ,

Small question, but I am unable to figure it out, how do I create this yaml output?

[code]

Thanks!

[2020-11-12 14:41] TomWright commented on #37
Are you referring to the JSON content within `node.longhorn.io/default-disks-config`?

On another note, please use 3 backticks for code highlighting instead of 1. That way new lines etc are displayed properly.

[2020-11-12 14:43] ws-way commented on #37
Thanks, I would to create the complete data structure from scratch

[2020-11-12 15:01] ws-way commented on #35
it looks indeed that it is working, thanks!

[2020-11-12 16:08] TomWright commented on #37
You can use `dasel put string` with a blank input to create new documents.

E.g.

[code]

You can then pipe that output into another dasel command:
[code]

I just made a release that will allow you to use `.` in the property name by escaping it. Download dasel `v1.5.0` and then the following should work:

[code]

If you want to save this file just add `> myfile.yaml` at the end of the command.

I'

[2020-11-12 19:46] ws-way commented on #37
Hi @TomWright,

Thanks, looking good. One question, this part:

[code]

Is it possible to create this as an array? As far as I understand it, this part is an array and I do need 1 to x entries in this part, depending on the number of disks.

Thanks!

[2020-11-12 20:14] TomWright commented on #37
Just append `[]` to the selector you want to be an array.

[2020-11-12 22:33] ws-way commented on #37
Hi @TomWright ,

Thanks, I really appreciate the help you are giving, could you give me an example how to create this with an array?

[code]

The part of the disks-config is what I am looking for.

Thanks again

[2020-11-12 22:39] TomWright commented on #37
Those values are in a JSON string. Do you want them as JSON or as YAML?

[2020-11-12 22:42] ws-way commented on #37
Hi @TomWright ,

That should be JSON, thanks.

[2020-11-13 08:40] TomWright commented on #37
[code]

[2020-11-13 09:20] ws-way commented on #37
Thanks!

[2020-11-13 22:46] ws-way commented on #37
Hi @TomWright ,

Could you please take a look at this again?

I am trying to use your example, but it is different from my example. In your example config (last line) is also on metadata.annotation, but in my question it is on metadata.labels. When I replace the word annotation with labels it is not working, also not when I am splitting it into 2 commands.

This is not giving the line with the lab

[2020-11-13 23:04] TomWright commented on #37
What is the final output you want to see?

[2020-11-13 23:06] ws-way commented on #37
This :-)

[code]

[2020-11-14 10:50] abitrolly opened #39 "Select element by name"
I'd like to select all elements named `apple`. Doesn't seem to be possible with the current `dasel`.

[code]

In XPath it would be `.//apple`

https://stackoverflow.com/questions/15077462/xpath-to-select-all-elements-with-a-specified-name

[2020-11-14 11:07] ws-way commented on #37
Hello @TomWright,

I have tried it with variables and with files, the second put string is not working. Is this a bug or am I doing something wrong?

[2020-11-14 11:10] TomWright commented on #37
I'll take a look at this today and get back to you

[2020-11-14 11:16] ws-way commented on #37
Great, thanks!

[2020-11-14 12:50] TomWright commented on #37
Hey @ws-way, this looks like a bug.

I'm debugging it now and will release a fix ASAP. Thanks for your patience 👍

[2020-11-14 13:02] ws-way commented on #37
Ok, thanks, good luck with the fix

[2020-11-14 13:08] TomWright commented on #37
OK the issue is fixed as of `v1.5.1`.

[code]

Output is:
[code]

[2020-11-14 13:08] #37 closed

[2020-11-14 13:22] TomWright opened #40 "Search"
**Is your feature request related to a problem? Please describe.**
There is no way to search documents when you don't know the structure.
Related issues: https://github.com/TomWright/dasel/issues/39

**Describe the solution you'd like**
A new selector syntax for searching: `(?:key=value)`.

This is a multi-select selector.

It will search the current + all child nodes using the key as the query.

[2020-11-14 13:26] TomWright commented on #39
Hi @abitrolly,

Thanks for your question.

You are correct in saying this isn't currently possible with dasel. It is however a feature I've been thinking about and this gives me the motivation to push forward and implement it.

I've created a more detailed feature request for a more generic search selector here: https://github.com/TomWright/dasel/issues/40

Please review it and provide any feedbac

[2020-11-14 13:26] #39 closed

[2020-11-14 14:32] abitrolly commented on #40
The same query XPath is `food//apple`.
[code]
Note that it doesn't search on attribute names.

Search for elements with specified attributes uses brackets.
[code]

[2020-11-14 15:34] ws-way commented on #37
Looks it is working, thanks again!

[2020-11-14 17:04] TomWright commented on #40
The equivalent attribute from this suggestion would like like this:
[code]

[2020-11-14 17:05] ws-way opened #41 "Put string was working under 1.0.4, not under 1.5.1"
Hello @TomWright ,

I do have this yaml:
[code]
To change '- harbor' under matchNames I use(d):

[code]
Which gave me the correct result under 1.0.4. Under 1.5.1 the result is like this:

[code]
Could you please take a look at this? Thanks.

[2020-11-14 17:15] TomWright commented on #41
Hey @ws-way,

The issue is with your selector.

Dasel is interpreting `matchNames[0]` as a property because it isn't separated with a `.`.

```.spec.namespaceSelector.matchNames.[0]``` will give you the expected output.

The README states...

So the fact that your selector was previously working was really just lucky.

[2020-11-14 17:15] #41 closed

[2020-11-14 17:18] ws-way commented on #41
Lucky me :-) Thanks again, great weekend.

[2020-11-15 16:08] ws-way opened #42 "Is there any way to create a multidocument yaml?"
Hello @TomWright ,

Is there a way to create a multidocument yaml from several yaml files?

Thanks again.

[2020-11-15 16:47] TomWright commented on #42
Hey,

Sadly there's no way for dasel to merge multiple files at the moment.

If you have an idea on how this might look then feel free to raise a feature request!

[2020-11-15 16:47] #42 closed

[2020-11-15 16:48] ws-way commented on #42
Ok, thanks!

[2020-11-16 14:39] TomWright commented on #40
Hi @abitrolly,

I've implemented this in https://github.com/TomWright/dasel/pull/43.

There's a slight change in relation to the previous explanations above though due to the way XML documents are represented within dasel.

At the time of writing the results to output dasel is only aware of the node (xml tag in this case) content, meaning the XML output looks like this:

[code]

This obviously isn

[2020-11-16 18:52] true-eye opened #44 "Toml selector .p2p not working"
**Describe the bug**
A clear and concise description of what the bug is.

I have a toml file which contains the following
[code]

I would like to select `p2p` but `-p toml .p2p` is not working
`-p toml .rpc` works. So I guess if it includes the number, then I can't use the selector?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://dasel.tomwright.me/s/1faea436-e46e-49c0-bb44-6b3

[2020-11-16 19:48] TomWright commented on #44
Hey @true-eye,

It looks like this is an issue with the argument parsing on the playground rather than an issue with dasel itself.

I took the file content from the playground snippet and it works locally with dasel `v1.5.1`.

[code]

As an aside, it's quite hard to parse the args on the playground because of the security requirements.

I believe this issue can be closed now but let me know if you

[2020-11-16 19:48] #44 closed

[2020-11-16 22:29] abitrolly commented on #40
@TomWright I didn't though that XML attributes don't map to other formats like YAML and JSON clearly. That is a challenge, indeed. For my use case I used `xpath`. I didn't need attribute values, so this worked for me.

[code]

Speaking of universal language to access this data accross formats, maybe it makes sense to use stripped XPath for YAML and JSON queries.

[2020-11-16 22:43] TomWright commented on #40
Good to hear you found a solution.

I'm going to go ahead and merge the search functionality as it is for now since it still serves a purpose.

I will keep thinking about a better way to render the final XML but it's tough.

[2020-11-16 22:44] #40 closed

[2020-11-17 12:05] ws-way opened #45 "How do use a map value?"
Hello @TomWright,

I have another question, I do have this code to create the yaml file:

[code]
This is the output:

[code]

But when applying this there is an error:
[code]

When I remove the single quotes arond the {} at matchLabels, it does work. How can I achieve this ?

[code]

The docs state string, bool or int, but no other options.

Thanks again

[2020-11-17 13:33] TomWright commented on #44
Hey @true-eye,

The issue on the playground is now resolved. Just a note in-case you were waiting on it 🙂

[2020-11-17 13:34] true-eye commented on #44
Cool!
Too fast. :) Thanks

[2020-11-17 13:37] TomWright commented on #45
This put is causing that entry to appear:
[code]

Dasel doesn't currently support putting empty values.

I would argue that this item should just be omitted since it doesn't contain any values, giving you the following YAML:
[code]

[2020-11-17 13:41] TomWright commented on #45
Alternatively you could use `dasel put object -p yaml 'spec.endpointSelector.matchLabels'`.

You will currently receive an error stating that `type` is a required flag, but I can remove that requirement.

[2020-11-17 13:44] ws-way commented on #45
Hi @TomWright,

Could be great, when possible, to use { } would be great

[2020-11-17 13:51] TomWright commented on #45
No worries, that's now supported as of `v1.6.1` 🙂

Notice that I used `put object` with no types/values rather than `put string {}`:

[code]

[code]

[2020-11-17 13:51] #45 closed

[2020-11-17 13:59] ws-way commented on #45
Looking great, first test are positive. Thanks!

[2020-11-18 12:14] yejiawei1234 opened #47 "How do I do with this kind of error"
**Describe the desired outcome**
Using dasel to select json file, but this error occur

Error: could not load input: could not unmarshal config data: invalid character '{' after top-level value

**Resources**
My json file content is like this
{"topic": "test", "device_info": {"device_name": "apple"}, "message": "failed"}

[2020-11-18 12:45] TomWright commented on #47
Hi @yejiawei1234,

I can't seem to replicate this: https://dasel.tomwright.me/s/0027d179-b522-4ae0-9153-f6ae9f46c431

What's the full command you're running?

[2020-11-19 02:45] yejiawei1234 commented on #47
Hi @TomWright ,
thanks for your reply
I just download this repo and want to run it in Goland. I get this error message after I try to build /Desktop/dasel-master/cmd/dasel/main.go.

/usr/local/go/bin/go build -o /private/var/folders/50/v5346r4n67573r8nd1437zwh0000gn/T/___go_build_main_go /Users/jack/Desktop/dasel-master/cmd/dasel/main.go #gosetup
/private/var/folders/50/v5346r4n67573r8nd1437zwh000

[2020-11-19 09:37] TomWright commented on #47
What does your build configuration in Goland look like? It looks like you may not have it set up correctly.

This works for me:

![image](https://user-images.githubusercontent.com/935867/99648306-ccfcd400-2a4a-11eb-93b3-45cc3b16ce72.png)

[2020-11-19 09:39] TomWright commented on #47
Notice that you'll have to specify a file to work with since you're not able to pipe data into the command this way.

[2020-11-19 13:54] yejiawei1234 commented on #47
Hi @TomWright
Thanks for your reply. It really weird. The setting is almost the same but I still got the error message.
<img width="1071" alt="image" src="https://user-images.githubusercontent.com/7010533/99675071-bb024c00-2ab1-11eb-8a11-b94617737a1a.png">

error message is still the same

/usr/local/go/bin/go build -o /private/var/folders/50/v5346r4n67573r8nd1437zwh0000gn/T/___go_build_github_com

[2020-11-19 14:01] TomWright commented on #47
It looks like the issue is your JSON file then. Can you copy it's contents here?

[2020-11-19 14:06] yejiawei1234 commented on #47
I finally got it. If the file content is

[2020-11-19 14:10] yejiawei1234 commented on #47
I finally got it. If the content is
{"topic": "1", "device_info": {"device": "apple"}, "message": "ignored"}
It works
<img width="1216" alt="image" src="https://user-images.githubusercontent.com/7010533/99676797-e84ff980-2ab3-11eb-89a0-cbe7160e3988.png">

but if it is
{"topic": "1", "device_info": {"device": "apple"}, "message": "ignored"}
{"topic": "1", "device_info": {"device": "apple"}, "messag

[2020-11-19 14:52] TomWright commented on #47
I'm glad you found it 🙂

That's good timing actually - as of `v1.6.2` dasel supports multi-document JSON files.

Pull from `master` and try again

[2020-11-19 15:38] #47 closed

[2020-11-20 04:19] yejiawei1234 commented on #47
Big thanks!

[2020-11-26 03:35] varrix opened #49 "Segmentation fault from install instructions."
**Describe the bug**
`Segmentation fault` when calling dasel.

**To Reproduce**
Steps to reproduce the behavior:
1. Copy install for linux from README.
2. Run `dasel -h`.
3. Receive `Segmentation fault`.

**Expected behavior**
Should see dasel help information on CLI.

**Desktop (please complete the following information):**
 - OS: Ubuntu 18.04
 - Version: I'm going to *assume* v1.6.2 as I grabbed

[2020-11-26 03:47] varrix commented on #49
I have a feeling it was just an incomplete download. Seems to be working fine after a re-download. Closing!

[2020-11-26 03:47] #49 closed

[2020-11-27 16:30] ngirard opened #50 "Support ini files"
It would be great if Dasel could handle `.ini` files.

Cheers!

[2020-11-27 18:18] TomWright commented on #50
Hi @ngirard,

Thanks for your suggestion.

I'll look into this 🙂

[2020-11-27 18:23] ngirard commented on #50
Great, thanks !

[2020-11-27 18:25] TomWright commented on #50
The main ini parsing package I've found doesn't support the required format right now. I've commented on a feature request stating I'd like it too: https://github.com/go-ini/ini/issues/197

There's potential for me to write my own ini parser but I'm going to wait and see what the response on that feature request is first.

[2020-11-28 22:19] slippycheeze commented on #19
Since I came here to suggest just this feature, for the argument question I suggest instead:
[code]

[2020-11-29 15:52] TomWright commented on #19
Thanks for the suggestion! I think that works well

[2020-11-29 15:58] TomWright commented on #24
Closing this as it's mostly resolved by multi-selectors. If anyone actually requires this functionality please re-open or mention me.

[2020-11-29 15:58] #24 closed

[2020-12-01 00:40] #19 closed

[2020-12-01 00:42] TomWright commented on #19
@slippycheeze This is now implemented as of `v1.7.0`. Thanks for the suggestion!

[2020-12-01 09:21] chairraver opened #52 "dasel complete jq replacement? Problem with maps"
**Describe the desired outcome**
Nice tool, but I'm having a problem to achieve a particular output. Assuming the following input:
[code]
I want to use the ClientIDs in a subsequent dasel search on another file with ClientID as the search item (with some shell glue). I wasn't able  to achieve the desired results with dasel, which I could achieve fairly easy with jq:
[code]

**Attempts**
dasel -s '

[2020-12-01 09:50] TomWright commented on #52
You can use the search selector, looking for a key value of `ClientID`:
[code]

The `[]` and `[*]` selectors are only usable with arrays. If this were an array of objects then you could do something like `.[*].ClientID`.

I could look at making the `[*]` selector also support map values in the future. If you need that then let me know 🙂

[2020-12-01 10:08] TomWright commented on #52
It's actually quite easy to add the any index selector and dynamic selector for maps as well as arrays so I'll go ahead and implement that

[2020-12-01 10:12] chairraver commented on #52
Hey, thanks a lot.

First of all I'm on Arch Linux and when I installed I only got version 1.6.2. I have now updated to 1.7.0.

And yes indeed I didn't use the keyValue search thing. And it could have been the absence of -m also played a role.

I'm happy now, thanks again.

[2020-12-01 10:13] #52 closed

[2020-12-01 11:47] TomWright commented on #52
The search selector docs are here: https://github.com/TomWright/dasel#search

There is a basic example with key based searching there already but let me know if you don't think that's good enough and I can update the readme.

[2020-12-01 12:07] chairraver commented on #52
No, I think everything is good. I remember trying (?:-, but I guess the implications of keyValue/-  didn't really sink in (and possibly the absence of the -m flag).  So alas, during trying I simply didn't hit the right combination.

[2020-12-01 12:58] TomWright commented on #52
OK good to hear. On a side note I've just released `v1.8.0` which will allow you to use a simpler selector of `.[*].ClientID`.

[2020-12-01 15:09] littleli opened #54 "Install dasel with scoop command-line software installer"
I think dasel is interesting enough tool to be included in Scoop bucket (repository) and should be installable with this popular package manager. I already initiated PR to scoop extras and hopefully soon this going to be available.

PR is in progress here: https://github.com/lukesampson/scoop-extras/pull/5220

Are you interested in an update on installation instructions once it's merged?

[2020-12-01 15:32] TomWright commented on #54
Great idea, I've been meaning to submit dasel to homebrew etc but haven't gotten round to it yet.

Sure go ahead and submit a PR when it's available.

Thanks for the contribution 🙂

[2020-12-06 23:29] littleli commented on #54
#55

[2020-12-07 03:26] 89z opened #56 "TOML: QuoteMapKeys"
If you have this JSON:

[code]

you get this TOML:

[code]

Current implementation is here:

https://github.com/TomWright/dasel/blob/ba2b3c0dac195b1f0b7cfaf5250c9dd55a33b0a3/internal/storage/toml.go#L29-L33

the TOML library has an option to always quote the keys:

https://pkg.go.dev/github.com/pelletier/go-toml#Encoder.QuoteMapKeys

that would produce this output:

[code]

basically the code coul

[2020-12-07 09:47] TomWright commented on #56
Hey @89z,

Thanks for your contribution!

I'm find with this change happening, but I'm wondering what the benefit of this is. Does this solve some kind of issue or is it purely cosmetic?

[2020-12-07 10:35] #54 closed

[2020-12-07 15:14] 89z commented on #56
Its just cosmetic - it just seems awkward to me. If you have some keys that need quote, seem better to just quote all of them. But personal taste I guess

[2020-12-07 20:25] TomWright commented on #56
Just making sure I understood that's all 🙂
I'll get around to making this change soon!

[2020-12-09 02:22] magodo opened #57 "jq-like builtin function support"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated about how to get all the keys in a map, which has several nested levels. In `jq`, I can use the builtin function `keys[]` after a pipe.

**Describe the solution you'd like**
I hope the selector used in `dasel` can also support the pipe together with some handy builtin functions.

[2020-12-09 14:38] TomWright commented on #57
Hi @magodo, thanks for raising this issue!

Could I ask you to provide an example to make sure I fully understand your request please?

[2020-12-10 04:21] magodo commented on #57
Something like this:

[code]

[2020-12-10 06:49] chiqomar opened #59 "Ability to return a null value when nothing returned"
**Is your feature request related to a problem? Please describe.**
When using jq, if you reference a key that does not exist, jq will throw an error about not finding a value, and return the value `null`. This same behavior is not true of dasel; if setting a variable to the output of a dasel command that cannot be found, the variable is set to the error blurb.

**Describe the solution you'd like**

[2020-12-10 10:34] TomWright commented on #59
Should it return `null` in place of any error? Or just not found?

For example, querying a property that doesn't exist is considered not found, but using a selector on an invalid type is a different type of error.

The full list of errors can be found here: https://github.com/TomWright/dasel/blob/d140860feae550f2838329c3a12d05fd07beea4c/error.go

[2020-12-10 16:01] chiqomar commented on #59
I think that the priority is `ValueNotFound`, per what you did in the PR. I think it may make sense to `InvalidIndexErr`, as it is a related error (and jq reacts to a bad index the same way it does an nil property), and stretching slightly, `UnexpectedPreviousNilValue` could be added as well, but not sure if that makes as much sense.

[2020-12-10 18:55] TomWright commented on #59
I think it makes sense for it to handle these errors:
- `InvalidIndexErr` - Bad index in an array
- `UnsupportedSelector` - Used an array index on an object for example
- `ValueNotFound` - Property not found

I'm not going to override `UnexpectedPreviousNilValue` since that highlights more of an error within dasel's data parsing rather than a missing value.

[2020-12-10 18:58] chiqomar commented on #59
I will note that in the `UnsupportedSelector` case, `jq` errors out.

[2020-12-10 19:06] TomWright commented on #59
That's food for thought. I guess the implementation will depend on your usage and understanding of the data.

Perhaps an `UnsupportedSelector` should error out. I think if I were to use this functionality the actual error may be more useful to me. Do you have any preference on this?

[2020-12-11 18:26] chiqomar commented on #59
I think it does make sense for `UnsupportedSelector` to error out, the user should know that they are accessing the data incorrectly, not that the index is off or that a key is missing.

[2020-12-12 15:42] forbesmyester opened #61 "XML with entities like &lt; get screwed up."
**Describe the bug**
Escaping in XML does not work properly (when the string is already there)

**To Reproduce**
Save file as es_systems.cfg

[code]

and run the command

[code]

**Expected behavior**
The `&lt;/dev/tty &gt;` should have been retained, it also should have not generated an invalid document (it put in `<` instead of `&lt;`)

**Desktop (please complete the following information):**
 -

[2020-12-14 10:23] #57 closed

[2020-12-14 10:25] TomWright commented on #57
This has been implemented in https://github.com/TomWright/dasel/pull/62 and will be included in the next release.

The syntax is ```
echo `{"a":{},"b":{}}` | dasel -p json '.-'
[code]

[2020-12-14 10:54] TomWright commented on #59
This has now been merged and will be included in the next release.

I've opted to only support `ValueNotFound` and you can enable this feature with the `-n`,`--null` flag.

[2020-12-14 10:54] #59 closed

[2020-12-14 11:12] TomWright commented on #61
Thanks for raising this issue @forbesmyester.

This is an issue with the XML parser being used - I've raised an issue with them: https://github.com/clbanning/mxj/issues/84

[2020-12-14 22:20] #61 closed

[2020-12-14 22:27] TomWright commented on #61
This has been fixed as of `v1.9.1`.

[code]

[2020-12-14 22:44] TomWright opened #64 "Delete command"
**Is your feature request related to a problem? Please describe.**
Dasel doesn't currently support deletions.

**Describe the solution you'd like**
A new `dasel delete` command that takes a selector and deletes it.
It should handle the same kinds of flags as `dasel put` except for the fact you don't need to provide any variable type or value.

[code]

**Additional thoughts**
- Should `ValueNotFoun

[2020-12-14 22:45] TomWright commented on #64
This isn't a priority for me but if you would like this functionality please let me know.

[2020-12-15 01:21] magodo commented on #57
@TomWright Great job :+1:

[2020-12-16 14:13] forbesmyester commented on #61
Awesome, efficiency. Thanks :-)

[2020-12-18 09:34] Dentrax opened #66 "Replacing an object's value with new object"
Thanks for creating such a great tool! I like it very well. 🤙🧡

**Describe the desired outcome**
My question is slightly similar to #23, what I'm trying to achieve is to simply replace the value of a specific object with a new value to be given from by the stdout pipe.

Let's consider we have an `scale.yaml` file:

[code]

In order to save `spec` object changes from each pipeline run, i should hav

[2020-12-18 10:17] TomWright commented on #66
Hey @Dentrax,

Thanks for your question.

The docs on replacing objects can be found here: https://github.com/TomWright/dasel#put-object

It doesn't look like dasel can do what you need yet though - you need to define the object property by property.

I think a new `put document` command could help out here.

[2020-12-18 10:21] TomWright commented on #66
Additionally the docs on converting between different data formats are here: https://github.com/TomWright/dasel#converting-between-formats

I will soon create a new feature request issue for a `put document` command that should solve your issue.

[2020-12-18 11:44] Dentrax commented on #66
Thanks for documentations and prompt response! I guess I missed that parts. :) This will be great feature. I will look forward to it.

What I am concerning about is how to use `put document` in cross formats. i.e.:

**YAML**

[code]

**JSON**

[code]

As we all know, this JSON is in `list of objects` format. If we want to `put document` _any_ JSON object (i.e. first array item) to YAML's `baz`, wh

[2020-12-18 15:03] TomWright opened #67 "Put Document"
**Is your feature request related to a problem? Please describe.**
I would like to be able to put a document into a specific place within some data.

I can already put single variables/objects into data, but this requires you to define each property separately and cannot handle an entire document/nested set of objects.

**Describe the solution you'd like**
A new `dasel put document` command that w

[2020-12-18 15:13] TomWright commented on #66
I have created a feature request for this problem: https://github.com/TomWright/dasel/issues/67

For a more specific example in this use-case I would expect something like this:

[code]

## Sudo code explanation with placeholders

`JSON_ARRAY` =
[code]

`YAML_CONTENT` =
[code]

The `JSON_ARRAY` isn't actually what we want to use, so we extract the first item from the array.

`JSON_DOCUMENT` = `ech

[2020-12-19 17:55] Dentrax opened #68 "Append to an array of objects not works as expected"
**Describe the bug**
_Append to an array of objects_ is not working as expected in YAML parser.

**To Reproduce**
1. Go to [Append to an array of objects](https://github.com/TomWright/dasel#append-to-an-array-of-objects-1) section
2. Try the given example:

[code]

3. I got:

[code]

**Expected behavior**
[code]

**Desktop (please complete the following information):**
 - OS: `macOS`
 - Version: `

[2020-12-19 18:01] TomWright commented on #68
Hey @Dentrax ,

The issue is the selector. It should be `.users.[]`.

I'll leave this issue open and fix the readme soon

[2020-12-19 18:23] TomWright commented on #68
Additionally there is a unit test for this already: https://github.com/TomWright/dasel/blob/bf79564bf82774883d8d06e3524b942b4ff5da4d/internal/command/root_put_test.go#L232

[2020-12-19 22:47] #66 closed

[2020-12-19 22:47] #67 closed

[2020-12-19 22:47] #68 closed

[2020-12-19 22:49] TomWright commented on #68
@Dentrax I've updated the readme 👍
Thanks for spotting that!

[2020-12-19 22:49] TomWright commented on #66
@Dentrax This is now supported as of `v1.10.0`

[2020-12-19 23:02] Dentrax commented on #66
You are so fast! Thanks for such a great job. 🔥

[2020-12-20 18:20] TomWright commented on #56
Hey @89z,

I've got a PR for this change here: https://github.com/TomWright/dasel/pull/58

I'm not sure I want this to be the default functionality (since it isn't the default for many toml implementations) but I'm happy to enable it with a feature flag.

I'm closing this issue but please head over to the PR and submit any feedback you may have.

[2020-12-20 18:20] #56 closed

[2020-12-21 21:33] #5 closed

[2020-12-21 21:40] #64 closed

[2020-12-22 00:00] TomWright opened #77 "An update command for dasel could be very useful."
An update command for dasel could be very useful.

It should download the latest stable release for the current OS and replace the existing binary.

The output may look something like this:
[code]

## Steps
1. Fetch latest stable version info using github API.
1. Compare to current version
1. Download latest stable version executable
1. `chmod +x` new version.
1. Execute `dasel --version` on new e

[2020-12-22 14:25] #77 closed

[2020-12-22 21:29] ghostsquad opened #78 "installable from ASDF-VM"
This is a request to support asdf-vm

I've filed an issue here to make a repo for dasel. Maybe you can comment on that issue to get maintainership of the repo once created?

I can contribute to the creation of the plugin, but it's already very very simple, and you can copy/paste from other Github-based plugins.
https://github.com/asdf-community/.github/issues/11

[2020-12-22 21:51] TomWright commented on #78
Thanks for your contribution!

I'd be happy if you could contribute to the creation of the plugin. I've not used nor created any asdf plugins before.

I do have plans to release dasel on other package managers (homebrew for example) but haven't gotten round to it yet.

[2020-12-28 10:45] ifraixedes opened #80 "Get fields from an array of objects of a json input"
**Is your feature request related to a problem? Please describe.**

How to get fields from an a `json` array?

**Describe the solution you'd like**

I have this input

[code]
with `jq` I do ` jq <o.json  ".items[].kind"`

but I cannot do that with `dasel` with that syntax, how can I do it?

Many thanks in advance.

[2020-12-28 11:13] #80 closed

[2021-01-01 10:47] tobiashochguertel opened #81 "compact Output mode?"
I was asking me if this is already possible but I didn't found an answer yet,

`jq` has a `-c` option which means: `  -c               compact instead of pretty-printed output;`

is that possible to add to `dasel` or has dasel such an option already?

[2021-01-01 11:20] TomWright commented on #81
There isn't an equivalent flag in dasel as of yet.

I can add this as a `-c`, `--compact` flag.

[2021-01-01 16:56] TomWright commented on #78
Hey @ghostsquad,

I see that the required repo has been created on the asdf side: https://github.com/asdf-community/asdf-dasel

Are you planning on setting this up?

[2021-01-01 17:51] ghostsquad commented on #78
I am indeed. I'll do it this weekend.

[2021-01-01 19:38] tobiashochguertel commented on #81
if you want, I think that would be nice for me. I use the -c property to get something in one-line output (okay it's not working everytime correctly with `jq` but, it's for me then often easier to script something in a ci-pipeline step.

[2021-01-01 22:00] TomWright commented on #81
Sure thing. That sounds reasonable. I'll work on this over the weekend 🙂

[2021-01-02 14:27] #81 closed

[2021-01-02 14:48] TomWright commented on #81
@tobiashochguertel This is supported as of `v1.12.0`.

Without `-c`:
[code]

With `-c`:
[code]

If you have at least dasel `v1.11.0` you can use `dasel update` to get the latest version, otherwise you should download the latest executable from the latest release.

[2021-01-03 06:01] tobiashochguertel commented on #81
Impressive! You managed this feature request so quickly and without hassle.
I ask me if this response time is a personal archivement or that golang is such a elegant Development environment which helps to resolve things in quick way.

Thanks 🙏🏻:)

[2021-01-05 07:17] ghostsquad opened #83 "Please release using `darwin` not `macos`"
this is to enable scripts that use `uname` to detect the platform to know which binary to download.

[2021-01-05 07:24] ghostsquad commented on #78
depends on #83

[2021-01-05 12:10] TomWright commented on #83
I can fix this going forward by updating the build scripts (see the linked pull request), however updating this historically could be a bit of a pain.

Do you need this fixed historically?

I dealt with this in the following way:

https://github.com/TomWright/dasel/blob/23a3cdd69ef8097e4a6e2dddb3e6c120aaff3db8/internal/selfupdate/release.go#L43-L62

You may need to do something similar to be able

[2021-01-05 13:01] #83 closed

[2021-01-05 13:16] TomWright commented on #83
Fixed as of `v1.12.1`: https://github.com/TomWright/dasel/releases/tag/v1.12.1

There is still the issue of historical releases but I think that's a non-issue.

[2021-01-05 16:52] ghostsquad commented on #83
I'll make a comment in asdf dasel in the readme about the pre 0.12 releases

[2021-01-05 18:38] ghostsquad commented on #78
almost there!
https://github.com/asdf-vm/asdf-plugins/pull/346?ts=4

Once this is merged, I'll submit a PR here to update the readme. 😄

[2021-01-07 11:19] #78 closed

[2021-01-27 14:25] TomWright opened #86 "Homebrew releases"
It would be good to use [goreleaser](https://goreleaser.com/) for releases.

This will make it easy to add homebrew/linux package support.

[2021-02-05 07:24] alebcay commented on #86
FYI (and somewhat tangential), but I've submitted `dasel` for inclusion in the Homebrew core repos in https://github.com/Homebrew/homebrew-core/pull/70488. If accepted, `dasel` will be available for installation on macOS and Linux with `brew install dasel`.

Generally, end users and Homebrew maintainers will notice upstream package releases and update the downstream package for distribution, but y

[2021-02-05 08:20] TomWright commented on #86
Thanks for letting me know, that's really useful. I'll check back in once the PR has had a reply.

[2021-02-05 15:05] alebcay commented on #86
The downstream PR has been merged 💯.

[2021-02-05 16:43] TomWright commented on #86
Thanks for that great contribution 💯.

I've updated the README here: https://github.com/TomWright/dasel#homebrew

I will implement the homebrew-bump-formula action before the next release.

[2021-02-11 11:41] #86 closed

[2021-02-11 15:45] paradajz opened #90 "Quotes in output if string is number"
Given the following YAML example:

[code]

Running `dasel -n -f demo.yml analog.type` gives me `native`. No quotes. However, if type is something like this:

[code]

Running the same command gives me `"4067"`. Notice the quotes in output. Is this a bug or am I missing something here?

[2021-02-11 16:47] TomWright commented on #90
Hey @paradajz - This isn't a bug.

Since you are referencing a YAML file the input + output is being parsed/formatted as YAML.

- `"native"` is a string
- `native` is a string
- `"4067"` is a string
- `4067` is an *int*

In order for dasel to output 4067 as a string it must be surrounded by quotes.

If you do not want the output to be formatted as yaml you can use the  `-w -` flag or `--plain` fla

[2021-02-11 16:47] #90 closed

[2021-02-23 20:22] varac opened #95 "Option to sort keys on output"
**Is your feature request related to a problem? Please describe.**

I'd like to sort the output by keys, like `jq` can:

[code]

**Describe the solution you'd like**

A similar flag i.e. `-s` to sort keys.

[2021-02-24 14:38] TomWright commented on #95
Which data format are you working with? I'm not eager to implement this as dasel doesn't have much (if any) control over the marshaling of data.

I believe JSON already does this by default... ["The map keys are sorted and used as JSON object keys"](https://golang.org/pkg/encoding/json/#Marshal).

[2021-02-24 14:46] varac commented on #95
I could use this mainly for yaml

[2021-02-24 16:52] TomWright commented on #95
This is the default behaviour for both JSON and YAML marshaling in golang, so is the default behaviour in dasel.

## YAML output
[code]

[code]

## JSON output
## YAML output
[code]

[code]

[2021-02-24 16:52] #95 closed

[2021-02-26 20:47] josegonzalez opened #98 "Support hcl files"
**Is your feature request related to a problem? Please describe.**

HCL is a format commonly used for hashicorp tools. It would be great to add direct support for them in dasel.

**Describe the solution you'd like**

Support [HCL v2](https://www.nomadproject.io/docs/job-specification/hcl2).

**Describe alternatives you've considered**

The alternative is not supporting HCL, which is currently the

[2021-02-27 04:38] TomWright commented on #98
In always open to supporting new file formats, as long as they play nicely with other implementations.

I will take a look at HCL 2 and get back to you on this soon.

Thank you for your interest in dasel 🙂

[2021-03-02 12:38] TomWright commented on #98
Hey @josegonzalez,

This looks like it will be a longer term feature since I'll need to write some logic to parse hcl documents into a generic `map[string]interface{}`.

Short term it looks like you can use a combination of dasel and [hcl2json](https://github.com/tmccombs/hcl2json) to read hcl documents with dasel.

I'll leave this issue open so I can work on it when I have the time.

[2021-03-04 14:02] varac opened #99 "Dasel fails to parse a "null" yaml file"
**Describe the bug**

Dasel fails to parse yaml file with `null` as the only content.

**To Reproduce**

1. `echo 'null' > /tmp/null.yml`
2. `echo '---' > /tmp/null2.yml`
3. `touch /tmp/null3.yml`
4. `dasel -f /tmp/null.yml .`
5. repeat with other files
6. All cmds fail with `panic: reflect: call of reflect.Value.Interface on zero Value`

**Expected behavior**

Dasel should not fail on valid (but

[2021-03-04 19:18] TomWright commented on #99
Thank you for the clear examples. I'll take a look at this soon 👍

[2021-03-05 13:46] TomWright commented on #99
Hi @varac,

I've made the changes required to get this working as expected. The fixes should also apply to other formats.

The one strange thing I've noticed is that empty YAML documents are marshal'd as JSON - this is down to the YAML package being used and I have raised an issue here: https://github.com/go-yaml/yaml/issues/708

[code]

[2021-03-05 14:19] varac commented on #99
Thanks!

[2021-03-05 15:48] TomWright commented on #99
It seems that `{}` is actually the correct representation: https://stackoverflow.com/questions/33510094/syntax-for-empty-dictionary-in-yaml

I'm happy to merge this in and get it released now.

[2021-03-05 16:04] #99 closed

[2021-03-05 16:45] TomWright commented on #99
This is now released under `v1.13.3`.

[2021-03-06 14:36] ws-way opened #101 "Using '---' as value gives an error"
Hello,

With 1.13.3 I do a

echo '' | dasel put string -p yaml 'extraEnv.[0].name' 'KEYCLOAK_STATISTICS' | \
          dasel put string -p yaml 'extraEnv.[0].value' 'ALL' | \
          dasel put string -p yaml 'extraEnv.[1].name' 'KEYCLOAK_USER' | \
          dasel put string -p yaml 'extraEnv.[1].value' 'admin' | \
          dasel put string -p yaml 'extraEnv.[2].name' 'KEYCLOAK_PASSWORD' | \

[2021-03-06 19:58] TomWright commented on #101
I've found that you're facing this issue because of the flag parser being used: https://github.com/spf13/pflag/blob/85dd5c8bc61cfa382fecd072378089d4e856579d/flag.go#L962

I can look into a workaround/fix for this but since it's outside of my control I can suggest an alternative approach using `put document` for the meantime:

[code]

[2021-03-07 14:45] ws-way commented on #101
Ok, thanks, this will do

[2021-03-11 08:53] #101 closed

[2021-03-11 09:19] ws-way opened #102 "Code working with 1.13.2, not with 1.13.3"
Hello @TomWright,

The code below is working with 1.13.2, but with 1.13.3 I do get an error:

[code]
[code]

Do you know why this is failing with 1.13.3 ?

Thanks!

[2021-03-11 10:18] #102 closed

[2021-03-11 10:22] TomWright commented on #102
Hey @ws-way,

Thanks for raising this.

This was introduced as a result of the fix for #99. I've fixed this issue and added specific test cases for both issues.

This is fixed in `v1.13.4` 👍

[2021-03-11 11:16] ws-way commented on #102
It's working now, thanks for the fast update

[2021-03-12 06:40] nikolay commented on #98
@TomWright I've been using [hcl2json](https://github.com/tmccombs/hcl2json) with [jq](https://github.com/stedolan/jq) but hoped that I can use just one. HCL is widely popular in the DevOps world, so, it would great if it's natively supported.

[2021-03-12 08:29] josegonzalez commented on #98
Thank you @TomWright for looking into this. I very much appreciate it and realize that development of the functionality may not be forthcoming.

[2021-03-12 09:00] TomWright commented on #98
@nikolay I appreciate that and can see the benefit. I'm not saying it's not going to happen, just that I will have to work on it over time rather than a quick change now

[2021-03-12 09:50] TomWright commented on #98
It looks like I can import and directly use `hcl2json` from my code to make that conversion.

This will allow me to add select support relatively easily, but does not (to my knowledge) allow me to convert JSON -> HCL in order for put commands to work.

[2021-03-12 10:10] josegonzalez commented on #98
Maybe useful for turning a json byte array to hcl? https://github.com/hashicorp/hcl/blob/main/json/public.go#L20

[2021-03-12 11:44] TomWright commented on #98
That looks promising.

I also found this repo although it is a little out of data: https://github.com/kvz/json2hcl/blob/master/main.go
I'm not sure if it's for use with hcl v1 or v2.

[2021-03-12 17:29] josegonzalez commented on #98
That repo is hclv1. Maybe supporting either via a flag works.

[2021-03-12 19:21] nikolay commented on #98
By the way, there's a tool like [jq](https://github.com/stedolan/jq) just for HCL, but it also only supports `v1` (for now): [hcql](https://hclq.sh/).

[2021-03-18 16:28] TomWright commented on #98
Are we interested in HCL v1, v2 or both?

[2021-03-21 20:06] ws-way opened #104 "Help with json"
Hello @TomWright,

I hope you can help me. Can I create the below json with Dasel?

[code]
Thanks!

[2021-03-22 09:15] #104 closed

[2021-03-23 18:19] dcompoze opened #106 "Delete from existing array or set it to empty array"
Is it possible to remove an item from an array or set an array to an empty array?

Given a foo.toml file like so:

[code]

I can append an item with:

    dasel put string -f foo.toml 'company.employees.[]' sarah

I can change a specific item with:

    dasel put string -f foo.toml 'company.employees.[1]' sarah

But how would I go about deleting an item from the array?
I tried omitting the value:

[2021-03-23 19:37] TomWright commented on #106
Hey @dcompoze ,

I've got a discussion open for this feature here: https://github.com/TomWright/dasel/discussions/64

There's a couple of unanswered questions (I just haven't gotten round to it yet) but I can revisit this sooner if there's a need for it.

You can use `put document` to replace a key with an empty array:
[code]

[2021-03-23 19:37] dcompoze opened #107 "dasel --version shows 'development' when built from master branch"
Running `dasel --version` returns the following when built from GitHub:

    dasel version development

Which doesn't actually say which version it is (e.g. version number or git hash)

[2021-03-23 19:57] dcompoze commented on #106
Great, this `dasel put document -f foo.toml -d json  '.company.employees' '[]'` works for me.

[2021-03-23 20:05] dcompoze opened #108 "dasel formats the original file in a different format"
**Version**

Current master

**Issue**

I have a `Cargo.toml` file with the following contents:

[code]

Whenever I use `dasel` to update a value inside the file, it changes the formatting of the file to a different style, in this case the above becomes:

[code]

It also adds a lot of whitespace between sections and and the top of the file

Ideally I would expect the file not to be automatically r

[2021-03-23 20:21] TomWright commented on #107
If you build dasel yourself, no matter the source, it will have a development version.

Only the executables added against the releases on GitHub have a version, bring the related tag that triggered the release.

To confirm, you did clone the repo and build yourself right?

[2021-03-23 20:26] dcompoze commented on #107
Yes with `go install cmd/dazel`.
Although I think it would be useful to include at least part of the git hash when building locally (e.g. development-47aa6ce) - otherwise when I create an issue I don't know which git commit I built the binary from.

[2021-03-23 20:51] TomWright commented on #108
Hi @dcompoze,

[This is documented in the readme](https://github.com/TomWright/dasel#preserved-formatting-and-ordering).

This is an unfortunate side-effect due to the way that dasel actually works with data in that it:
1. Unmarshals text into a `map[string]interface{}`
2. Performs actions on the map
3. Marshals the map back into text

I don't see any real way around this since dasel is relying on

[2021-03-23 20:51] #108 closed

[2021-03-23 20:58] TomWright commented on #106
OK great - I'll close this issue now and we can track progress on the delete feature request in the discussions section.

[2021-03-23 20:58] #106 closed

[2021-03-23 21:17] TomWright commented on #107
I've started working on an implementation to do just this, but it seems like there is a bug within the go tools that will block it for now: https://github.com/golang/go/issues/29228

[2021-03-23 21:38] #107 closed

[2021-03-23 21:46] TomWright commented on #107
I've made this change and it will take effect from 6289ed13b5ea96535721d16278f23e4e4615c6ee.

E.g.

[code]

This will work when specifying a full package name, but when installing from a local source as you did before may still show `development` due to the issue I linked above.

[2021-03-29 04:19] alexkreidler opened #110 "CSV writer can't output a list of objects"
I have this json:
[code]

Then I run the following and get:
[code]

I then tried some slight modifications. Running `cat test.json | dasel -p json -w csv ".[*]" ` gets: `Error: could not query node: could not find value: selector is not supported here: .[*]`

Then, running `cat test.json | dasel -p json -w csv ".[*]" -m` outputs the following:
[code]
which is better, but it should be comma separat

[2021-03-29 16:03] TomWright commented on #110
Hey @alexkreidler,

Thanks for raising this.

I've fixed the issue and it will be released under `v1.13.6` shortly.

[code]

[code]

[2021-03-29 16:03] #110 closed

[2021-04-02 05:13] alexkreidler opened #112 "Expose this as a library"
This is a great project. I found myself itching to use it in a Go project that requests various data (JSON, XML, CSV) from web sources, but was hesitant at the thought of writing temporary files and piping to `dasel`s stdin.

I know that maintaining libraries can be more involved, especially regarding with versioning, API stability etc. Nevertheless, with a cursory glance at the code, it seems the

[2021-04-02 14:03] TomWright commented on #112
Hey @alexkreidler, thanks for the feedback!

You can use dasel to a large extent already. There's some basic documentation here: https://github.com/TomWright/dasel#using-dasel-as-a-go-package

I can add more docs or expose more functionality if you need it.

I'm on my phone at the moment but if you let me know what you're trying to do I can put together an example when I'm at the computer 🙂

[2021-04-02 14:18] alexkreidler commented on #112
Ah, silly mistake! I overlooked that section. Yeah that should be great, thanks.

[2021-04-02 14:18] #112 closed

[2021-04-02 16:14] TomWright commented on #112
No worries!

[2021-04-04 11:50] ws-way opened #113 "Help with TOML"
Hello @TomWright,

Can you give me any help with the following TOML file? I need to create it with dasel, but I am stuck how to achieve this example below

[code]
Thanks again!

[2021-04-05 07:56] ws-way commented on #113
Hello @TomWright,

The question is for the double bracket at the top and the search_base_dns, which starts with a bracket and ends with a bracket. Thanks!

[2021-04-05 12:37] #113 closed

[2021-04-08 14:18] ydcool opened #117 "Can not set negative integer value in command line"
**Describe the bug**
Can not set negative value in command line , it'll treated as a command line flag rather than a value, and the escape character does not work.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Desktop (please complete the following information):**
 - OS:  linux/ubuntu 18.06
 - Version: dasel version v1.11.0-2-gbe51ab2

[2021-04-08 20:21] TomWright commented on #117
Thanks for raising this @ydcool.

I can confirm this is still an issue in the latest version: `dasel version v1.13.6`.

This is related to https://github.com/TomWright/dasel/issues/101, and is caused by: https://github.com/spf13/pflag/blob/85dd5c8bc61cfa382fecd072378089d4e856579d/flag.go#L962

The code causing this is out of my control (without a PR at least) but in the short term I could introduc

[2021-04-08 20:24] TomWright commented on #117
The related issue is here: https://github.com/spf13/pflag/issues/311

[2021-04-09 01:36] ydcool commented on #117
Nice, I'll also keep an eye on it to see if I can help.

[2021-04-09 01:47] ydcool commented on #117
I noticed that `grep` command can handle the escape charather, so it's also due  to the upstream problem?

[code]

[2021-04-09 08:43] TomWright commented on #117
Yes that's correct. [Cobra](https://github.com/spf13/cobra) and [pflag](https://github.com/spf13/pflag) control the input to dasel and they don't seem to arguments beginning with a dash very well.

[2021-04-09 09:39] TomWright commented on #117
On a side note, it seems that escaping the dash does bypass the pflag validation issue, but then the resulting string of `\-900` doesn't parse as a valid int.

Perhaps I could left trim any escape characters when parsing integers.

[2021-04-12 10:41] matthiasdebernardini opened #122 "Add install instructions in readme"
title basically, cant find this information at a glance.

looks nice!

[2021-04-12 15:45] TomWright commented on #122
Fair point - I recently moved all the documentation over to gitbook and the installation instructions went with it.

I'll update the readme with some basic instructions 👍

[2021-04-12 15:50] matthiasdebernardini commented on #122
I couldn't find that when I clicked on the links but yea top three or five most popular ways to install it would be cool

[2021-04-12 15:54] TomWright commented on #122
For reference the install directions are here: https://daseldocs.tomwright.me/installation

[2021-04-12 16:03] TomWright commented on #122
I've added a quickstart section to the readme now: https://github.com/TomWright/dasel#quickstart

I think that's sufficient - would you agree?

[2021-04-12 20:51] matthiasdebernardini commented on #122
I would. Cheers!

[2021-04-12 20:51] #122 closed

[2021-04-15 09:17] paradajz opened #125 "aarch64 release binary"
**Is your feature request related to a problem? Please describe.**
Yes.

**Describe the solution you'd like**
Provide aarch64 binary in releases so that manual compilation of dasel on aarch64 (eg. Raspberry Pi) isn't needed.

**Describe alternatives you've considered**
I've tried to manually compile dasel on Raspberry Pi. dasel works as expected. Additionally, I've run your test suite although I'm

[2021-04-15 10:33] TomWright commented on #125
I'll update the build actions and tag a new release soon 👍

[2021-04-15 21:54] TomWright commented on #125
Here we go: https://github.com/TomWright/dasel/releases/tag/v1.14.1

It's the arm64 binary 🙂

[2021-04-15 21:54] #125 closed

[2021-04-16 07:01] paradajz commented on #125
Thank you!

[2021-05-04 09:18] TomWright opened #131 "Cannot read empty XML document"
**Describe the bug**
Dasel fails to unmarshal an empty string when using the XML parser.

**To Reproduce**
[code]

**Expected behavior**
An empty map.
The XML parser should return `nil, nil` when the input is empty.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
dasel version 1.14.1

[2021-05-04 13:51] link4531 commented on #131
While I believe this "bug" also includes adding initial values to the xml file.
where the command:
`dasel put string -p xml '.RootNode' 'Rooty' `

Workaround is to use -p yaml or json followed by re-parsing the file using -w xml.

[2021-05-04 15:21] TomWright commented on #131
That's correct. This bug will also appear when providing empty input to any `dasel put` commands.

Another workaround is the following:
[code]

[2021-05-05 23:11] TomWright opened #133 "Merge"
**Is your feature request related to a problem? Please describe.**
It will be good to be able to merge documents on top of eachother.

**Describe the solution you'd like**
Give a single multi selector and have all the results merge into a single document.
`in.json`
[code]
[code]

Result:
[code]

Dasel should iterate through maps + slices to recursively merge to the deepest level.

**Describe alter

[2021-05-06 11:58] FandaOG opened #134 "Json Lines"
Hi,

could you support *.jsonl files? https://jsonlines.org/

Thanks.

[2021-05-06 12:07] TomWright commented on #134
Hey @FandaOG,

Thanks for your interest in dasel.

I believe this should already work.

From https://jsonlines.org/examples:

[code]
[code]

The only change you may desire is that `.jsonl` files get automatically detected as JSON content, but for the time being you can either store your data in a `.json` file or pass `-p json` to dasel to tell it which parser to use.

[2021-05-06 12:17] FandaOG commented on #134
Thank you @TomWright. I tried bad selector. It works perfect.

![image](https://user-images.githubusercontent.com/61017336/117296759-bbcb4680-ae75-11eb-8384-06b10f2d3af2.png)

[2021-05-06 12:17] #134 closed

[2021-05-06 12:24] #131 closed

[2021-05-06 13:41] TomWright commented on #131
This has been fixed and released under `v1.15.0`.

[2021-05-09 17:30] kadamanas93 opened #136 "Colored output like jq or yq"
Right now, dasel output is plain terminal color and it would be nice for readability for dasel to support colored text.

Currently I am piping the output of dasel to yq or jq depending on the document syntax like so:

`echo '{"name":"Tom"}' | dasel -p json | jq`

[2021-05-11 21:25] TomWright commented on #136
I can see the value in this.

The interesting thing is that I'd need something to parse and colourise all of the data formats

[2021-05-31 22:10] sergeevabc opened #143 "Dasel’s equivalent to JQ’s []"
Dear Tom,
Windows 7 user here, trying to replicate the following with Dasel without success.

Source: [test.txt](https://github.com/TomWright/dasel/files/6572395/test.txt)

[code]

I tried ```[].ua``` and ```.ua``` as well.

[2021-06-02 18:31] TomWright commented on #143
You'll want to use the [all indexes](https://daseldocs.tomwright.me/selectors/all-indexes) selector for this:

[code]

[2021-06-02 18:32] #143 closed

[2021-08-12 10:00] emilebosch opened #152 "Consider adding data-processing, data-wrangling to your github tags."
**Is your feature request related to a problem? Please describe.**
I couldn't find your repo. Pain ensued.

**Describe the solution you'd like**
Found your repo.  Joy ensued.

**Describe alternatives you've considered**
Hacking all things sed, ack, jq, csvkit, yaml2csv etc.

**Additional context**
Keep up the good work!

[2021-08-12 12:52] TomWright commented on #152
Thanks for the suggestion. I've added those now! 👍

[2021-08-12 12:52] #152 closed

[2021-08-13 16:05] ryuheechul opened #153 "Print json output for multi-document YAML"
**Describe the bug**
Multi-doc YAML not being printed.

I can see that multi-doc YAML work with YAML output thanks to https://github.com/TomWright/dasel/issues/29

**To Reproduce**
Steps to reproduce the behavior:
1. Run simple scripts like below

[code]

Include (sanitized) input files and commands to help along the way.
[code]

**Expected behavior**
A clear and concise description of what you ex

[2021-08-13 18:23] TomWright commented on #153
Hey @ryuheechul,

I believe this is a misunderstanding of how to use certain flags with dasel.

See the following that works:

Read from file, output to JSON.
[code]

Read from stdin. Read parser is YAML, write parser is JSON.
[code]

Read from stdin using EOF. Read parser is YAML, writer parser is JSON.
[code]

Read specifically from stdin using EOF. Read parser is YAML, writer parser is JSON.
[c

[2021-08-13 18:23] #153 closed

[2021-08-13 22:41] TomWright commented on #136
Looking into options for this.

https://github.com/alecthomas/chroma looks promising.

Output could be colourised with a `--color` or `--colour`.

[2021-08-14 09:24] ryuheechul commented on #153
Hey @TomWright,
Thank you very much for your answer.
It's my bad of misunderstanding about what `-p` was.
Somehow I automatically thought it was for "print" by looking at examples in [README.md](https://github.com/TomWright/dasel/blob/1facf4ea07d8acb9b1a150c144fb734691e6c1aa/README.md) 😅 .

You perfectly educated me on this and thanks for the clarification 👍🏼.

[2021-08-14 12:56] TomWright commented on #136
From `v1.19.0` you can colourise the output from select commands by adding the `--colour` or `--color` flag.

![image](https://user-images.githubusercontent.com/935867/129446992-5f3c0c06-d1c7-4d3c-8b64-08e20b28c5fb.png)

[2021-08-14 12:56] #136 closed

[2021-08-14 23:53] herbygillot opened #157 "Module name: match case?"
Would it make sense for `dasel`'s Go module to match the case of the repository?

ie., `github.com/TomWright/dasel` instead of `github.com/tomwright/dasel`

[2021-08-15 09:27] TomWright commented on #157
I do agree with you but have concerns about the backward compatibility of this change.

[2021-08-15 14:32] gedw99 opened #158 "Apple plist support"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

 Support apple plist file types.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or

[2021-08-15 14:38] TomWright commented on #158
Sure I can see the value in this.

This package looks promising: https://github.com/DHowett/go-plist

[2021-08-15 17:11] TomWright commented on #157
Thinking about it, this would be a breaking change regardless of when it's made. I'm open to making the change but this is also the first time it's come up as an issue.

Perhaps I could get some feedback on this issue so I can see what kind of impact it will have.

- Are you using dasel as a go import?
- Are you referencing the go module from some external place? If so, where?

If I'm going to cha

[2021-08-15 17:59] TomWright commented on #117
I can't just deal with integers here - it's a wider issue.

[code]

[2021-08-15 18:46] TomWright commented on #117
Hey @ydcool,

Since this is a wider issue and I'm getting no response from the upstream supporter I've added a `-v`, `--value` flag that should function as a workaround:

[code]

Or in your case:
[code]

This is currently available on the development build which is accessible via:

1. Installing from source:
[code]

2. Running from docker
[code]

[2021-08-15 19:25] gedw99 commented on #158
Nice find.

mit begs the question - is it worth integrating into damsel ?

Until I play with it I am not sure .

[2021-08-15 19:48] TomWright commented on #158
Are you looking to use the functionality from the commandline or from go?

[2021-08-16 01:41] ydcool commented on #117
`-v`, `--value`  works well, it's still a nice solution : )

[2021-08-16 08:21] gedw99 commented on #158
Both actually …

for a dev, they can use it to generate and check their Plist files.

i am building gui using gioui which targets browsers, desktop and mobile. It supports all Mac devices ( desktop, iOS, watch and tv ) so there are a plethora of PList dictionaries to keep correct.

Gui is based on https://gioui.org/

Commnd line will just use cobra.

i will probably also build a desktop app using

[2021-08-24 20:21] reynn opened #159 "Selectors with non US standard characters not working in dynamic selectors"
**Describe the bug**

I have a small subset of json for a game called Azur Lane, which contains various information about the characters. One of the characters is named `Ägir` which I have not been able to find a way to do a dynamic selector on.

**To Reproduce**

1. Create json with the following content at `/tmp/al.json
[code]
2. Try one of the following selectors:
    1. `dasel select -f /tmp/t

[2021-08-30 15:11] TomWright commented on #159
The problem has been fixed here: https://github.com/TomWright/dasel/pull/160

I'll merge this and release shortly under `v1.19.1`.

[2021-08-30 15:14] #159 closed

[2021-08-30 15:17] TomWright commented on #117
This is now released under `v1.20.0`

[2021-08-30 15:17] #117 closed

[2021-08-31 20:54] beatcracker commented on #112
The correct link now is https://daseldocs.tomwright.me/use-as-a-go-package

[2021-09-04 02:36] Lohn opened #161 "Frontmatter Support"
**Is your feature request related to a problem? Please describe.**
Frontmatter is wide used standard to add metadata usually in YAML format to markdown files.
It is used in a variety of Static Site Generators like Jekill and Hugo.
The format is very simple as a put the YAML between '---' in the init of de markdown file.
But, for use it with `dasel`, first I've to extract the YAML with `sed`/`awk`

[2021-09-08 22:31] TomWright commented on #161
Thank you for your suggestion. I'm open to supporting this but won't have time to get started for at least a week and a half due to work and holiday.

I'll think about an implementation pattern and get started when I'm back.

[2021-09-10 23:31] Lohn commented on #161
Thanks! Have a nice holiday!

[2021-09-12 11:07] meain opened #162 "Preserve order of keys"
**Is your feature request related to a problem? Please describe.**
I was using dasel to bump the version in a `package.json` file. The actual edit in the diff that I have provided below is just the version changing from 0.0.1 to 0.0.2 but since dasel rearranges the keys, that info is lost in the diff. This might be a bit of a stretch, but would it be possible to preserve the order of the keys in j

[2021-09-12 11:30] meain opened #163 "Characters in strings getting replaced with unicode escape"
**Describe the bug**
`<` char in json strings is getting replaced with `\u003c`. Similar thing happens to `>`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create file with this content:
[code]
2. `dasel -f filename.json`
[code]

**Expected behavior**
No characters changed.

**Desktop (please complete the following information):**
 - OS: macOS
 - Version 1.20.0

[2021-09-17 16:34] cgardner opened #164 "Unable to parse ISO-8859-1 XML"
**Describe the bug**
I'm not able to use dasel to parse an XML file that is ISO-8859-1 encoded.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a file with the example XML from below
2. Execute `dasel -f /path/to/example.xml -p xml`
3. The command will fail with the following message:

[code]

**Expected behavior**
I would expect to be able to use dasel with these files

**Desktop (p

[2021-09-18 06:58] TomWright commented on #164
Hi @cgardner,

I'm away from home for a couple of days but will check this out when I'm back

[2021-09-23 16:10] brenol commented on #164
Hit this myself when using dasel Go's API directly, and found a simple fix inside mxj :) Opened a PR, hope it helps!

[2021-09-26 12:15] mthbrown opened #166 "JSON: Trouble Using Dynamic Selector"
Hi,

I just downloaded dasel (which looks really cool) and decided to test it out. I might be missing something but I can't seem to get dynamic selection working with JSON. If I have input such as this:

[code]

and want to select `sessionContext` *only* if `"accountId": "1122334455"`, I should be able to by doing the following:

[code]

but instead, I get this error:

[code]

Any ideas? Thanks

[2021-09-26 15:02] TomWright commented on #166
Are you expecting the source document to contain multiple events? If so you can do something like this:

[code]

[code]

Outputs:
[code]

If your source file doesn't actually contain any arrays or anything then the dynamic selector is kind of useless there.

Does this make sense?

[2021-09-26 18:56] mthbrown commented on #166
Thanks. The above works. But I'm trying to understand why

[code]

works but:

[code]

doesn't. Is it because this is only applicable for array-like structures? Thanks.

[2021-09-26 19:27] TomWright commented on #166
In general yes, the dynamic selector is really only applicable for array-like structures. It's purpose is to allow you to do some primitive searching/filtering but if there is only one "record" that doesn't necessarily fit.

[2021-09-26 19:35] mthbrown commented on #166
Thanks a lot @TomWright for clarifying this and for this fantastic project :star:

[2021-09-26 19:35] #166 closed

[2021-09-27 20:55] ypicard commented on #162
This would be fantastic.

[2021-09-27 20:59] ypicard commented on #163
I confirm this issue.

[2021-09-27 21:16] TomWright commented on #163
This is on my list of things to tackle 👍

[2021-09-27 21:16] TomWright commented on #162
I am planning on looking into this. I may need to implement custom JSON encoders/decoders to get this working

[2021-09-28 18:33] TomWright commented on #164
Thanks to @brenol - this was fixed in https://github.com/TomWright/dasel/pull/165

I'll release this shortly under `v1.20.1`.

[2021-09-28 18:40] TomWright commented on #164
This issue is now solved.

[code]

[2021-09-28 18:40] #164 closed

[2021-09-28 18:41] TomWright commented on #157
Closing this as a non-issue right now. Tackling this will cause backwards incompatibility issues.

[2021-09-28 18:41] #157 closed

[2021-09-28 18:44] TomWright commented on #163
This issue is caused when json encoding the content with golangs default JSON marshaler: https://play.golang.org/p/jiQML5SurFF

(nothing to do here, just making a note to myself)

[2021-09-28 20:22] cgardner commented on #164
That worked!  Thank you!

[2021-09-29 09:47] #163 closed

[2021-09-29 11:51] TomWright commented on #163
This has been solved in `v1.21.0` with the use of `--escape-html=false`.

[code]

This new flag defaults to true by default to maintain backwards compatibility.

[2021-09-29 12:57] meain commented on #163
I personally think `--escape-html` should be false by default, but thanks for the fix.

[2021-09-29 13:14] TomWright commented on #163
I did consider that but it's a risky change to push out because it would change the default functionality when working with JSON - I don't want to break any existing usages in pipelines and the like.

[2021-09-30 02:23] ypicard commented on #163
True - but i don't actually think people actually _expect_ this default behaviour. For sure, many will end up here.

Could we expect this in a major upgrade with breaking changes to the current version?

[2021-09-30 15:50] TomWright commented on #163
@ypicard @meain
I've been doing some reading and since any JSON parser can decode either option this can be considered a purely cosmetic change. As a result I've just pushed a change to set the default to `false` and this will be available in `v1.21.1`.

[2021-10-03 14:48] burtgulash opened #169 "Add shortcut for --merge-input-documents"
It would be a great to have a fast cli tool to convert from jsonlines to csv, which can be done using dasel as

[code]

It would be better, if this could be done with a shortcut, such as

[code]

-m is already taken for --multiple. -j could be used to stand for 'join', or -a for 'all'.

[2021-10-16 13:41] TomWright commented on #161
I'm considering allowing dasel to deal with multiple formats within a single file by allowing comma separated `r`, `w` and `p` flags.

This would then allow you to read the yaml + json document into a single dasel execution and output in the same way.

[2021-10-19 03:04] Lohn commented on #161
That's an awesome idea!

[2021-10-20 08:13] rhtenhove opened #171 "More examples"
When trying to select from more complex files, I'm at a loss on what's possible, and keep failing at creating a proper query.

Take the following yaml:

[code]

I would like to retrieve the list under assets. How would I write a query to achieve this?

Some more examples of all the selector features in the documenation would probably help achieve this.

When converted to json, I can get it using `

[2021-10-21 12:45] paradajz opened #172 "32-bit Linux/ARM build"
Would it be possible to support 32-bit ARM builds in releases? Raspberry Pi OS is only 32-bit, for example, and while I can use dasel on 64-bit Ubuntu on Raspberry, I cannot use it with RPi OS.

[2021-10-21 14:04] #172 closed, assigned to nobody

[2021-10-25 08:54] TamasSzerb opened #174 "dasel should write error messages to stderr rather than stdout"
**Describe the bug**
dasel always writes to stdout, even error messages so difficult to process its output

**To Reproduce**
Steps to reproduce the behavior:
echo '<xml><test>moo</test></xml>' | dasel -p xml -m
 '.xml.NOtest' 2>/dev/null
Error: could not query multiple node: could not find multiple value: no value found for selector: .NOtest: map[test:moo]
Include (sanitized) input files and comma

[2021-10-26 07:22] olblak opened #175 "Dasel don't preserve initial XML content."
**Discussion?**
While trying to use Dasel as a Go package in a personal project [updatecli](https://github.com/updatecli/updatecli), I noticed that it drops XML comments, directives, and processes.

**Describe the bug**
Dasel don't preserve initial XML content.

**To Reproduce**
The command `dasel -f example.xml -p xml`

.example.xml
[code]

.output
[code]

.expectedOutput
[code]

Another example

[2021-11-01 18:09] ypicard opened #178 "Preserve comments when editing files"
**Discussion?**
Don't really know if I should file this as a feature request or a bug, let me know.

**Describe the bug**
When updating files with the `dasel put` command, if comments are in the original file, they get stripped out from the output file. I would like to be able to keep them if I want to - or by default.

**To Reproduce**
Edit a `yaml` file containing comments with the `dasel put` c

[2021-11-01 19:25] ypicard commented on #162
Hey, just checking in if you have any news on this. Thanks!

[2021-11-01 20:51] TomWright commented on #162
Nothing yet I'm afraid - I'm pretty busy right now

[2021-11-03 04:32] ypicard opened #179 "Is there some sort of mechanism blocking release downloads?"
I have a CI script which installs `dasel` the following way:
[code]

Every now and then, this snippet will return the following:
[code]

Re-triggering it a minute later will solve the problem.

This behavior is cryptic to me. Is there some sort of mechanism that would block downloads in specific situations? Any clue on why this might happen, if not related to this project? This is the only binary

[2021-11-03 16:46] TomWright commented on #179
I'm aware of only 1 time when this can happen and that is when a new release is being created.

Tagging a new release triggers a pipeline that builds and adds the executables to the release. If you manage to run that script in those couple of minutes when there is no executable added on the release yet then you'll see that error.

[2021-11-03 16:46] #179 closed

[2021-11-03 16:48] TomWright commented on #178
Similar issue to https://github.com/TomWright/dasel/issues/175.

I'll do some digging to see if I can find a decent solution to this

[2021-11-03 17:33] TomWright commented on #174
This is merged and will be released in the next version.

[2021-11-03 17:38] TomWright commented on #171
Another example:
[code]

It searches for a plugin item that is an array where the first item in the array is equal to `@semantic-release/git`

[2021-11-03 17:39] TomWright commented on #171
I'm going to do a bit more testing on my branch and then I'll merge. This will likely go out in the next release.

[2021-11-07 20:23] olblak commented on #178
@TomWright I think this one is a bit different as it doesn't use the same data structure and therefore library. Xml seems to rely on mxj while yaml depends on `gopkg.in/yaml.v2 v2.4.0`. The version v3 (gopkg.in/yaml.v3) support comments.

[2021-11-07 21:20] TomWright commented on #178
Thanks for the note on v3. It may be as easy as a version upgrade. I'll take a look

[2021-11-08 17:08] rhtenhove commented on #171
Gave this a try locally, and works wonders, thanks for the improvements!

[2021-11-08 17:18] rhtenhove opened #181 "How to match a string in a list?"
With a case similar as shown in #171, I'd like to be able to find if a string is in a list.

For example:

[code]

I'm not sure how I'd approach this. The search selector seems to always require a key:value pair. I would for example do this using `jq`s `index`.

[code]

[2021-11-08 17:52] TomWright commented on #181
As per the docs: https://daseldocs.tomwright.me/selectors/dynamic#key
You can use `.` or `value` as the search key to check against the current nodes value.

[code]

[2021-11-08 17:52] #181 closed

[2021-11-08 17:53] TomWright commented on #171
This is merged to master now but is not in a tagged release yet. It will be going out in the next release though 👍

[2021-11-08 20:31] rhtenhove opened #182 "Less verbose and non duplicate error message"
When messing up a selector query, you get feedback of the problem, twice, including the full help inbetween.

A cleaner and more common response would be the error message, and a reference to how to display the help.

So for example, this:

[code]

would be much cleaner like this:

[code]

Makes it less cluttered when tracing back while trying out things in a shell. Or perhaps not even the referen

[2021-11-09 16:59] TomWright commented on #182
Thanks for raising this. I have noticed this but hadn't gotten round to it yet.
As of `v1.22.1` the error output will look like:
[code]

[2021-11-09 16:59] #182 closed

[2021-11-09 16:59] TomWright commented on #174
This is released and fixed as of `v1.22.0`.

[2021-11-09 16:59] #174 closed

[2021-11-09 17:00] TomWright commented on #171
This is released as of `v1.22.0`.

[2021-11-09 17:00] #171 closed

[2021-11-09 17:07] TomWright commented on #175
That file is indeed the one that needs editing.

I have done a quick test and found that simply using `mxj.NewMapXmlSeq` instead of `mxj.NewMapXml` doesn't work.

I'll have to do a bit more reading to find out how to correctly use mxj to solve this issue. Please bear with me!

[2021-11-09 17:09] TomWright commented on #175
It seems that when using `NewMapXmlSeq` the XML version and comment information are added as map nodes at the root level causing confusion.

[2021-11-09 21:25] olblak commented on #175
@TomWright Thanks for looking at this, I started looking at this comment https://github.com/clbanning/mxj/issues/17#issuecomment-947056926  but unfortunately, I run out of time so I can't help as much as I would like to.

[2021-11-12 09:11] olblak commented on #178
That's a very good question. I couldn't find the changelog entry mentioning this. But I faced the same issue on https://github.com/updatecli and if I recall correctly switching to v3 solved it.

[2021-11-18 18:05] ypicard opened #183 "Allow filtering results with regex"
**Is your feature request related to a problem? Please describe.**
I would like to be able to filter an array of json objects with a regexp on a given nested key.

**Describe the solution you'd like**
Something like `jq` would be nice: https://stedolan.github.io/jq/manual/#RegularexpressionsPCRE

**Describe alternatives you've considered**
Switching back to `jq` when my scenarios are more complex

[2021-12-05 20:18] beatcracker opened #187 "Go package: support file input"
**Is your feature request related to a problem? Please describe.**
I'm looking into using [dasel package](https://daseldocs.tomwright.me/use-as-a-go-package) in my tool. As far as I can see you're supposed to unmarshal input file yourself and then use `rootNode := dasel.New(data)` to work with the data.

**Describe the solution you'd like**
Since `dasel` command already knows how to read all suppo

[2021-12-06 14:51] TomWright commented on #187
This sounds reasonable. I'd be happy to do it at some point or if you wanted to submit a PR it would be appreciated!

[2021-12-06 15:22] beatcracker commented on #187
I'd love to do a PR, but I'm still making baby steps in Go, so I'd need guidance on this.

[2021-12-06 21:03] kpym opened #188 "Add standard functions to format templates"
**Is your feature request related to a problem? Please describe.**
If I need to make a field uppercase in a template like `{{ .Name | upper }}` I can't do this with `dasel` because the of the lack of standard template functions.

**Describe the solution you'd like**
Include all functions from [sprig](https://github.com/Masterminds/sprig) for example looks like a possible solution.

[2021-12-07 09:49] ws-prive opened #189 "Question about adding values"
Hi @TomWright,

I am trying to read the values from https://raw.githubusercontent.com/FairwindsOps/charts/master/stable/vpa/values.yaml, read the supplied values at .recommender.extraArgs and add the lines below to .recommender.extraArgs:

[code]

Is this possible?

[2021-12-07 10:49] wino45 opened #190 "--format from file"
**Is your feature request related to a problem? Please describe.**
For a long format string it would be a convenient to load it from file, not only provided as a parameter.

**Describe the solution you'd like**
Add a new parameter: `--format-file <format-file> `

**Describe alternatives you've considered**
No alternatives were considered for this feature.

**Additional context**
Templates can be q

[2021-12-07 16:23] jaskij opened #191 "Panic when value in TOML is missing"
**Describe the bug**

When a value is entirely missing in TOML dasel panics

**To Reproduce**

Save this as `test.toml`:

[code]

And run `dasel -p toml -f test.toml`

**Expected behavior**
A clean error message about malformed TOML

**Stack trace**

<details> <summary>Stack trace collapsed</summary>

[code]
</details>

**Desktop (please complete the following information):**

<details><summary>De

[2021-12-09 10:17] tiogate commented on #178
The original issue description reports comments being stripped out from a yaml. I would like to report that I observed the same behavior with a toml.

[2021-12-12 07:43] TomWright commented on #191
Thanks for reporting this. I'll take a look asap

[2022-01-04 14:39] TomWright commented on #191
This is an upstream issue. I'll open an issue linking to this one.

[2022-01-04 14:44] TomWright commented on #190
I've just seen this - I agree that this could be very useful. I'd be happy to support this in the future.

[2022-01-04 14:47] TomWright commented on #189
You should be able to pipe multiple dasel commands together to achieve this:

[code]

Note that the first command reads from the file and writes to stdout, while the piped command reads from stdin and writes to the file.

[2022-01-04 14:47] #189 closed

[2022-01-04 14:49] TomWright commented on #188
This is definitely an option. I'll take a look at sprig and see if I can include it in the next release.

[2022-01-04 14:50] TomWright commented on #183
I definitely want to support this. I'll be looking at supporting this in future releases.

[2022-01-05 10:52] stessaris opened #196 "elements ordering in XML is not preserved"
**Describe the bug**

I'm trying to use dasel to process XML documents, but I realised that the order of the elements is not preserved. Since in XML the ordering is significant dasel cannot be used to safely process XML because of data loss. I don't know whether the problem can be fixed, I guess it depends on the underlying [github.com/clbanning/mxj](https://github.com/clbanning/mxj) library. I fo

[2022-01-05 11:43] TomWright commented on #196
This is a bit of an issue with the way that dasel accesses data.

Dasel will:
1. Decode the XML data into raw data (maps, slices, primitives)
2. Process queries
3. Encode the raw data into the desired data type

The issue here is that once the data is stored in memory as a map, go does not ensure ordering.

This is a bit of a blocker as it stands since this is an integral issue in the way data is

[2022-01-06 15:17] TomWright commented on #191
I've updated the related package and this will be fixed in the next release.

[2022-01-06 15:23] TomWright commented on #188
I've added this in https://github.com/TomWright/dasel/commit/b779b8820ed2b3f4c2d1adb5c0f299dccb785868 and it will be included in the next release.

[2022-01-06 16:05] kpym commented on #188
@TomWright thanks for considering this request. May you could document this now in [Format](https://daseldocs.tomwright.me/usage/flags/format) ?

[2022-01-06 17:16] TomWright commented on #188
I will do once I prepare the release

On Thu, 6 Jan 2022, 16:05 Kroum Tzanev, ***@***.***> wrote:

[2022-01-13 13:52] stessaris commented on #196
Sorry @TomWright for the late reply, but my mail server started to dump github notification in the spam.

I understand the problem and the fact that fixing it would require a major effort (which I'm not sure is would be worth because of the subtle complexity of XML). But I came to dasel because I needed a quick and simple tool to manipulate XML; fortunately, I realised the data corruption right aw

[2022-02-06 21:51] 0x7FFFFFFFFFFFFFFF commented on #196
I suggest adding a limitations section in the read me file. I have to find this kind of limitations through the issues like this one. Major limitations should be mentioned. For example the element order in the output is not kept. And regex match is not supported.

[2022-02-07 10:05] stessaris commented on #196
The [NewMapXmlSeq](https://pkg.go.dev/github.com/clbanning/mxj/v2#NewMapXmlSeq) function is doing the right thing by adding an ordering attribute ([example](https://go.dev/play/p/zHgC6vZO7Fh)). But I don't know how this would play with arbitrary updates when encoding back to XML, or with the dasel query language.

--sergio

[2022-02-27 03:46] Mrfiregem opened #201 "Include a man page"
**Is your feature request related to a problem? Please describe.**

Having to load a web browser when wanting to view documentation is a pain and may not be possible in all situations. Having a `man` page would be useful when wishing to refresh your knowledge offline.

**Describe the solution you'd like**

A manpage that can be generated during compile time using something like `scdoc`, or include

[2022-03-05 22:01] xxxserxxx opened #202 "Request: vary `put` values"
**Is your feature request related to a problem? Please describe.**
I often use dasel to mangle test data, and would like to be able to vary the values that I'm `put`ing into the output.

**Describe the solution you'd like**
I'd like to be able to specify a node selector string in the value.

[code]

Where `-V` (or some other flag) tells dasel to run the query on the current node and use the result

[2022-03-06 11:31] TomWright commented on #202
This is an interesting use-case.

Note to myself - This could be achieved with the `--format` flag if the selector was made available in the format templates here: https://github.com/TomWright/dasel/blob/b779b8820ed2b3f4c2d1adb5c0f299dccb785868/output_formatter.go#L63

[2022-03-08 19:39] xxxserxxx commented on #202
Being able to insert values relative to the document would, I think, be a more interesting generally, but for my use case it'd be sufficient if I could call a program (or shell function) for each node. I *could* generate values externally (if there was a mechanism for it), but (as I said) I imagine it might be more valuable in general to be able to, e.g., set a value from some permutation of anoth

[2022-03-12 01:20] danielhoherd opened #206 "Errors when filtering valid data from PagerDuty incidents.csv"
**Describe the bug**

When attempting to filter data from the pagerduty incidents.csv, an error is thrown: `Error: could not query node: could not find value: selector [type:PROPERTY selector:.acknowledge_count] does not support value: [kind:slice type:[]map[string]interface {}] [map[acknowledge_count:1 acknowledged_by_user_ids...`

**To Reproduce**

Steps to reproduce the behavior:
1. Download a

[2022-03-12 20:10] TomWright commented on #206
The CSV data is essentially an array of records, so your selector should be the following:
[code]

Here's a runnable example: https://dasel.tomwright.me/s/ee807ed2-b5eb-4dbc-a086-6a286435a545

[2022-03-12 20:10] #206 closed

[2022-03-14 12:58] ws-prive opened #207 "How to handle a yaml file with multiple kubernetes entries?"
Hi,

We want to add an entry to the nodeSelector field on line 5252 in our local copy of: https://github.com/kedacore/keda/releases/download/v2.6.1/keda-2.6.1.yaml

It looks like:
[code]

The line we want to add below the nodeselector is: agentpool: systempool. It should look like

[code]

Because the nodeSelector field is occuring multiple times, I wonder if this is possible just to add it to thi

[2022-03-14 14:19] danielhoherd commented on #206
@TomWright Thanks for the response! I have one more question related to where I ran into this error: does dasel do variable interpolation? The full example I was doing is:

[code]

Which creates something like:

[code]

I couldn't find any string interpolation examples in the docs so I assume I still need jq for this. Is that correct?

[2022-03-14 15:18] danielhoherd commented on #206
Nice! Thanks!

[2022-03-15 07:09] ws-prive commented on #207
Thanks @TomWright, however, your example is not working. The given yaml file contains multiple yaml documents and it looks like Dasel is unable to process that correctly. When I split the documents in multiple yaml files, it is working. Is there any plan to support multiple yaml documents in one file?

[2022-03-15 09:41] TomWright commented on #207
The file format was unclear from your question.

So you only need to add this field for the `keda-operator` deployment?

That would look like this:

[code]

[2022-03-15 13:21] ws-prive commented on #207
This is working great, thanks!

[2022-03-15 13:21] #207 closed

[2022-03-15 21:36] MattKetmo opened #208 "Json to Toml transforms int to float"
When transform from JSON to TOML I noticed all my integers are converted to float.
Other formats work correctly.

It's pretty easy to reproduce:

[code]

What I'm expecting for the first command:
[code]

I'm using dasel version `v1.23.0`

Thanks.

[2022-03-16 00:12] TomWright commented on #208
The issue here is not that the TOML parser is doing something wrong, it's that the JSON parser is returning a float: https://pkg.go.dev/encoding/json#Unmarshal

[code]

I need to think about whether this is something we should be changing on this end. I think I've seen somewhere that this is actually correct according to the JSON spec, but take that with a pinch of salt.

[2022-03-16 08:55] MattKetmo commented on #208
Indeed, I understand better: json & yaml writter are stripping the .0 of the float
[code]

Which means one alternative to my issue would be to convert to yaml first and then toml :)
[code]

[2022-03-16 16:17] FGRibreau opened #209 "PUT a multi-line file inside a YAML key"
**Is your feature request related to a problem? Please describe.**

I could not find a way to edit a YAML file and insert a multi-line plain text document (e.g. a certificate in PEM file format) as a yaml key value (e.g.  `-w yaml -s 'server.ssl.certificates.[0].certificate')

**Describe the solution you'd like**

[code]

Had to find an alternative, used yq like this:

[code]

[2022-03-16 17:34] TomWright commented on #209
Does this work?

[code]

[2022-03-16 20:04] FGRibreau commented on #209
instead of
[code]

this 👇 would have a chance to run but I've already tried it without success.

[code]

same for this 👇 does not work

[code]

note: a better unix-y way would be (won't work either):

[code]

[2022-03-16 20:52] TomWright commented on #209
When you say it doesn't work, what exactly are you seeing?

On Wed, 16 Mar 2022, 20:04 Francois-Guillaume Ribreau, <
***@***.***> wrote:

[2022-03-16 21:06] FGRibreau commented on #209
Either dasel cannot process the multi-line input or either it's an invalid shell command :)

[2022-03-17 00:38] TomWright commented on #209
Could I see the error you're getting from dasel?
I can't seem to replicate any issue you're having.

Here's an example that works as far as I can tell.

First, the config file:
[code]

Then our file containing a multi-line value
[code]

With the dasel command:
[code]

Then the output:
[code]

Along with this:
[code]

Can you confirm this approach works from your end?

[2022-03-17 08:28] FGRibreau commented on #209
Sorry, I should have sent you a full test-case, my bad.

Here is how to reproduce the issue:

file: `certs.pem`

[code]

file: `config.yaml`

[code]

Running:

[code]

Same with:

[code]

[2022-03-17 09:43] TomWright commented on #209
OK so we can see that the error is `Error: bad flag syntax: -----BEGIN CERTIFICATE-----`.

This is happening because the value is passed as an argument and the CLI package is detecting the dashes as a start of a flag.

To avoid this we can use the `-v`, `--value` flag to pass the value instead.

[code]

[code]

[2022-03-17 20:54] FGRibreau commented on #209
Oh, did not about "-v" thanks!

Still a more unix-y — thus standard way — would be this:

[code]

But I will stay with "-v" for now, thanks a lot!

[2022-03-17 20:54] #209 closed

[2022-03-17 21:04] TomWright commented on #209
I can't actually use that format since `dasel` expects the source config file to be input via stdin in cases where no file is specified. E.g.
[code]

I believe doing so would confuse the API, as well as cause inconsistencies if a put command were to support multiple values

[2022-03-18 15:29] #187 closed

[2022-03-28 03:16] slimandslam opened #210 "TOML "standard selector syntax" Undocumented"
**Describe the bug**
This is an obvious documentation bug. There is almost zero documentation on the included TOML support

**To Reproduce**

TOML file:

[STUFF]
mydata = "somestuff"
[MORESTUFF]
mydata2 = "junk"

-----------------------
"Dasel uses a standard selector syntax no matter the data format. "
I want to use your standardized "selectors" to select various
values without having to give an

[2022-03-28 13:03] TomWright commented on #210
What is it you're trying to select?

Here's an example of how you can interact with the above data: https://dasel.tomwright.me/s/59c85b2c-0c35-4b5d-ad2b-56c78ff67f6e

[code]

If you don't want to use exact paths you can use the [search selector](https://daseldocs.tomwright.me/selectors/search).

If I can get a more explicit example of what you're trying to achieve I can probably be a bit more help

[2022-03-28 20:17] slimandslam commented on #210
I'd like to select the first element of the first stanza, e.g.
[code]
without having to know the string "STUFF".  So, something like:

`dasel -f file.toml '.[*].mydata'`

[2022-03-29 19:34] slimandslam commented on #210
I'd like to be able to select just the node headers. For example:

[code]

How do I select just "[STUFF]" and "[JUNK]" (not including mydata) without using the strings "STUFF" and "JUNK"?

[2022-03-30 19:16] #208 closed

[2022-03-30 19:21] slimandslam commented on #210
These are fantastic. The reason I couldn't figure it out is because I was trying this:

`dasel select  -f file.toml -m '.[*]'`

I still have no idea why we're not using the "select" directive here.
Please add all these examples to your main documentation.

[2022-03-30 19:24] slimandslam commented on #210
These are great examples. Please add them to the main documentation. It would probably be useful to have sections for each format you support e.g. a JSON section, a TOML section, a YAML section, a section for going from one format to another, etc.......

[2022-04-02 20:47] danielhoherd opened #213 "Compact xml output"
## Is your feature request related to a problem? Please describe

I would love to see compact xml output. I see that compact `-c` works with json and others

## Describe the solution you'd like

Removed line breaks and whitespace.

## Describe alternatives you've considered

`gsed -E 's/^\s+//' test.xml | tr -d '\n'`

[2022-04-06 17:18] TomWright commented on #213
This seems reasonable. I'll do some digging into the XML parser used and see if something is easily achievable.

[2022-04-10 11:18] esdnm opened #214 "release: gzip the pre-built binaries"

[2022-04-23 09:05] esdnm commented on #214
@TomWright please.

[2022-04-23 09:40] TomWright commented on #214
I'll take a look at this over the weekend

[2022-04-23 13:23] TomWright commented on #214
This is done - see the latest release: https://github.com/TomWright/dasel/releases/tag/v1.24.3

This is not a historical change so you'll only see the compressed binaries from `v1.24.3` onwards.

[2022-04-23 13:23] #214 closed

[2022-04-23 15:23] ismail opened #216 "dasel completion is not working as expected (or I'm holding it wrong)"
[code]

Trying to generate completion file for fish shell:

[code]

Not sure what's that about, let's try help:

[code]
So, somehow it's aliasing to `select` sub-command.

[2022-04-23 17:20] TomWright commented on #216
The alias of the `select` sub-command is actually intended: https://github.com/TomWright/dasel/commit/a227bd7be59d5c7c656ba48a9b0a7e3a142ba768

To be honest I didn't even know the `completion` command existed. This looks like some kind of issue here: https://github.com/TomWright/dasel/blob/74ed1bdbd5b69d663b0a07f883ee8eeaba5b4e78/internal/command/root.go#L41-L46

In that the code doesn't know that

[2022-04-27 16:34] Voxelot opened #217 "Dasel manual install instructions broken due to amd64 gunzip release"
**Describe the bug**
The manual install instructions in the documentation no longer work, due to multiple releases matching the greps.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ['manual installation'](https://daseldocs.tomwright.me/installation#manual)
2. Run `curl -sSLf https://api.github.com/repos/tomwright/dasel/releases/latest | grep browser_download_url | grep linux_amd64 |

[2022-04-30 15:22] TomWright commented on #217
This should be ```curl -sSLf https://api.github.com/repos/tomwright/dasel/releases/latest | grep browser_download_url | grep linux_amd64 | grep -v .gz | cut -d\" -f 4```. I'll update the docs shortly

[2022-05-01 14:13] #217 closed

[2022-05-17 06:36] namicoin opened #218 "نامی"
**Discussion?**
If this is a question rather than a bug, please raise it in the discussions Q&A section.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

Include (sanitized) input files and commands to help along the way.

**Expected behavior**
A clea

[2022-05-22 19:24] TomWright commented on #218
There's not any information here at all - please provide a description of a bug you've encountered.

[2022-05-22 19:24] #218 closed

[2022-05-25 18:00] foolioo opened #219 "support for a validation command"
**Is your feature request related to a problem? Please describe.**
**dasel is awesome!**
since i love it too much and although dasel is not a validator, i do use it as such.

**Describe the solution you'd like**
i would love to see an option to provide dasel with a list of files (of any supported types), and have dasel report whether any error is found. e.g.

[code]

**Describe alternatives you've

[2022-05-25 23:10] TomWright commented on #219
This doesn't seem to hard (famous last words). I'll keep it in mind!

[2022-05-26 04:37] foolioo commented on #219
@TomWright: in the same note, it beats jq/yq/xq when looking at the validation. when jq/yq/xq fail to parse, dasel succeeds.

again, thank you for dasel.

[2022-06-03 07:50] TomWright commented on #219
Yes of course. I'll accept contributions in any area

[2022-06-09 22:02] TomWright commented on #219
I'll get a PR up for this as soon as I can. I haven't had much time in-front on the computer this week

[2022-06-11 09:14] ilaif opened #223 "Support handling of Struct types"
First of all, thank you for this awesome OSS @TomWright

---

### Is your feature request related to a problem? Please describe.

I have the use case of using a package like Dasel programmatically to manipulate runtime objects.

Without going into specific examples, runtime objects does not only have Slices and Maps, but also Structs.

---

### Describe the solution you'd like

I'd like Dasel to a

[2022-06-11 23:02] TomWright commented on #223
I'm open to this suggestion, in-fact I think it's a good idea.

I've been busy recently but I'll get working on it asap. If you want to raise a PR I'd also be very happy to accept one!

[2022-06-12 00:25] TomWright commented on #223
As a note, I've also been considering adding a custom interface to wrap the `reflect.Value`. The idea here is that I can support a bunch of different types without having confusing funcs like the one you referenced, but it also may add the ability for me to add support for ordered maps.

[2022-06-13 12:57] TomWright commented on #219
My current thoughts are that:
- `dasel validate` supports 0 or more arguments.
- If 1 or more arguments are given each argument will be parsed using a similar syntax to `find` on linux.
- If 0 arguments are given, dasel will look to `stdin` for some raw content. If this is the case dasel will expect either a `-r` or `-p` flag to determine the expected format.
- If read from `stdin` dasel will outp

[2022-06-13 15:41] r10r commented on #178
@tiogate I'm also interested in keeping the original comments in a toml config file.
Did you find a solution for that ?

It seems that keeping comments is not supported by **go-toml** library at the moment (or the near future). See also https://github.com/pelletier/go-toml/issues/457

[2022-06-13 16:52] ilaif commented on #223
Here's a PR on a fork I've made that currently passes all of the existing unit tests (I basically replaced an internal recursive walker with dasel and it worked out of the box): https://github.com/ilaif/dasel/pull/1

What I didn't have time to dive into is why I can't change your `unwrapValue` function to also deref pointers (it messes up with the propagation logic), so for now I've added it expli

[2022-06-20 13:16] ThorbenJ opened #225 "Build for Apple M1 - Darwin ARM"
**Is your feature request related to a problem? Please describe.**
Please could you provide an Apple M1 build in dasel's releases. I could not see any darwin_arm build.

**Describe the solution you'd like**
Build for Apple M1 - MacOS on ARM (Darwin_ARM)

[2022-06-20 16:27] #191 closed

[2022-06-21 11:03] r10r opened #226 "Create Backup Before File Modification"
Hi @TomWright,

when I use dasel I like to create a backup if it modifies a file.

Currently I use **cp** before running dasel to create the backup.
But I would prefer that dasel takes care of it.
What about implementing the following (global) commandline flags ?

[code]

[2022-06-21 16:43] TomWright commented on #226
All of the modifying commands support a `-o` or `--out` flag that allows you to change where the modified contents are written.  I expect this largely covers this need, would you agree?

[2022-06-21 16:49] TomWright commented on #223
Thanks for raising your PR - I have a PR in draft that was facing the same issue with the `unwrapValue` but haven't had a chance to get back to it yet. I'm hoping I can find the time tomorrow to jump back in and finish it off

[2022-06-22 04:10] electriquo opened #227 "Support a terminal view and traversal path discovery"
**Is your feature request related to a problem? Please describe.**
When working with a big and non flat data stored in JSON/YAML/XML, it is not always comfortable to examine the data when it is expended automatically and/or find the JSON/YAML/XML traversal path (select query) to select the data

**Describe the solution you'd like**
It would be nice if dasel would support a terminal view (folding/e

[2022-06-22 11:52] r10r commented on #226
Hmm, I'm unsure. How would you use the `--out`  flag to modify a config file and create a backup within a single command?

[2022-06-23 15:04] GDA92 opened #229 "Unexpected float, decimal output format"
**Discussion?**
While using Dasel to convert a json format to csv containing float, decimal values, I see that the output is wrongly formated.

**Describe the bug**
Unexpected float, decimal output format

**To Reproduce**
**dasel playground - latest version** Arguments :  **-r json -w csv**

**input json :**
{
 "x": 123456.1,
 "y": 1234567.1
}
**output csv :**
x,y
123456.1,**1.2345671e+06**

**Ex

[2022-06-24 12:47] TomWright commented on #229
I expect we'll some form of value mapping for this to work as you expect.

Perhaps a `--convert x,decimal` where `x` is a selector from the output results and `decimal` is a target datatype for it to be converted to.

[2022-06-24 17:53] TomWright commented on #223
Hey @ilaif, I've got a PR open here: https://github.com/TomWright/dasel/pull/224/files

I'd be happy if you could give it a review for me.

I used your PR as inspiration but there ended up being a few more places support was needed.

[2022-06-24 20:38] TomWright commented on #226
It's more that using the `--out` flag tells dasel to write the modified file to a new location.

[2022-06-24 21:10] TomWright commented on #227
Dasel does use the same data structure, although we'd need to settle on a single display format which may be a little strange if viewing XML data and it displays in a JSON-like format.

That said, I do think this is a cool feature and worth adding in the future.
I've not done anything like this before so am open to suggestions/PR's

[2022-06-25 08:25] r10r commented on #226
So wouldn't  the `--backup` flag would be a nice addition then ?

[2022-06-26 12:00] TomWright commented on #226
Yeah I think it could help

[2022-06-26 12:14] TomWright commented on #223
Hey @ilaif,

The related PR has been merged and this will be included in the next release.

You can go get `github.com/tomwright/dasel@master` to use this functionality now.

[2022-06-26 12:14] #223 closed

[2022-06-26 13:08] TomWright commented on #219
My initial PR for this is here: https://github.com/TomWright/dasel/pull/231

The current usage is that `dasel validate` accepts a list of files in the arguments and will output one line for each file:

[code]

The error after the filename can be toggled off with `--include-error=false`.

[2022-06-26 13:17] TomWright commented on #219
Note that it also supports glob patterns in place of a filename:

[code]

[2022-06-26 13:37] TomWright commented on #219
I have now updated the docs: https://daseldocs.tomwright.me/usage/validate

[2022-06-26 13:37] TomWright commented on #219
This will be included in the next release.

[2022-06-26 13:37] #219 closed

[2022-06-26 13:39] TomWright commented on #223
The docs have been updated: https://daseldocs.tomwright.me/use-as-a-go-package

[2022-06-26 18:21] ilaif commented on #223
Thanks so much @TomWright! Sorry for not getting to review the PR. I'll give it a try and lyk 🙏🏽

[2022-06-27 09:26] flokli commented on #178
@TomWright did you take a look at an upgrade to `yaml.v3`, and whether this preserves comments?

I definitely see comment-related fields in the `Node` struct: https://pkg.go.dev/gopkg.in/yaml.v3#Node

[2022-06-28 07:10] tiogate commented on #178
@r10r Unfortunately I did not find a reasonable solution. In my case I only needed to modify one value in a TOML, so I did that with a hacky sed command. I also needed to make more complex modifications to JSON and YAML files though, and for that I used jq and yq.

[2022-06-29 10:59] TomWright commented on #178
Sorry I haven't looked yet - I've been pretty busy lately and haven't been able to find the time to support this as much as I'd like. I haven't forgotten though

[2022-06-29 12:19] Tuditi opened #233 "Support arrays of strings"
**Is your feature request related to a problem? Please describe.**

I couldn't find a way to introduce an array of strings as a value for a selector.

**Describe the solution you'd like**

Running the following command:

`dasel put string[] -f Cargo.toml '.dependencies.iota-wallet.features.[]' ["mnemonic", "events"]`

would result in the following Cargo.toml file:

[code]

**Describe alternatives

[2022-06-29 13:09] TomWright commented on #233
You can use `put document` for this.

https://dasel.tomwright.me/s/d2df349c-3761-4a05-9aeb-6768c860846d

[code]

[2022-06-29 13:17] #233 closed

[2022-07-11 19:09] eatonphil opened #236 "Failing to handle valid json lines"
Hey I tried running dasel against https://github.com/json-iterator/test-data/blob/master/large-file.json as part of a [blog post on implementing jq](https://notes.eatonphil.com/implementing-a-jq-clone-in-go.html) but dasel couldn't parse it (while jq can so I think it's valid JSON).

**To Reproduce**

[code]

The error message goes on for a while.

**Version**

- Linux
- dasel version development-

[2022-07-12 12:59] TomWright commented on #236
That error seems to suggest there's an issue with your selector.

Using this selector does what I think you need:
[code]

[2022-07-12 13:31] eatonphil commented on #236
Oh thanks, you're right! Closing.

[2022-07-12 13:31] #236 closed

[2022-07-13 11:10] TomWright commented on #216
I have fixed this issue here: https://github.com/TomWright/dasel/commit/fed849667e23db6092b06df1cb52e3a415495eb6
It will be included in the next release.

To use it immediately you can `go install github.com/tomwright/dasel/cmd/dasel@master`

[2022-07-13 11:10] #216 closed

[2022-08-08 09:00] TomWright commented on #225
Thanks to @reynn for his contribution here. New releases will include a darwin/arm64 release executable and a `-alpine` docker image.

[2022-08-08 09:00] #225 closed

[2022-09-14 04:32] hampa opened #245 "csv output converts to scientific notation"
$ echo '{"name": 10000000000.1}' | dasel -r json -w csv
name
1.00000000001e+10

Converting the output numbers to scientific notation makes it difficult to use. Can't it just print the values like they come in.

[2022-09-14 07:24] mainians opened #246 "dasel: Argument list too long"
[code]

`${array[@]}` has 10000 elements

[2022-09-14 18:05] deus101 commented on #229
We had a similar issue WGS84 coordinates. But our JSON de/serializer used a float which was our issue.
So we have a whole bunch of buildings that are a bit  stunded...longitude wise.

Anyway our decimals were just rounded off. And you don't quite have the same problem here.
JSON as a rule do not write raw numbers (except for indices?), they convert it to a string wheter its floats or double values

[2022-09-26 13:27] #246 closed

[2022-09-26 13:27] TomWright commented on #246
Hey @mainians,

As of `v1.27.0` (or `master`) you can use `--value-file` instead. This stops the command from being too long and bypasses the issue.

E.g.
[code]

[2022-09-26 22:36] TomWright commented on #229
Dasel does use a standard JSON encoder here so I'm happy as far as the encoding goes.

An easy solution here would be to use the [format](https://daseldocs.tomwright.me/usage/flags/format) flag to be in complete control of the output. There are functions available to round, convert to strings etc

[2022-09-26 22:38] TomWright commented on #245
It'll be the specific CSV formatter that performs this action.

A quick fix would be to use the [format](https://daseldocs.tomwright.me/usage/flags/format) flag to control the output.

Similar issue to https://github.com/TomWright/dasel/issues/229

[2022-09-28 10:07] #188 closed

[2022-10-03 11:40] TomWright commented on #210
I've just fixed this

[2022-10-13 14:57] alexeldeib opened #253 "yaml multiline string output contains style indicator"
first, thanks for dasel! very slick and intuitive querying.

**Describe the bug**
When outputting a selected yaml field which is a multi-line string, style indicators such as `|-` will be included in the output string.

I can see from switching to json output the string itself is parsed correctly, so it seems purely like a decorative issue with the yaml output -- not sure if there is a flag or som

[2022-10-17 12:55] TomWright commented on #253
I don't have much control over the yaml formatting since an external package is used for that, but since it contains a JSON string there's nothing stopping you from piping 2 dasel commands together to get a plain list of the strings.

Here output the `data.versions` as a plain JSON string:
[code]

And here we take that JSON string, parse it and select all items from the array, and output it using

[2022-10-18 00:38] alexeldeib commented on #253
ahh, nice! I missed `--plain`, looks like that can do exactly what I would hope!👍

[2022-10-18 09:09] #253 closed

[2022-10-18 15:30] TomWright commented on #245
This is fixed in `v1.27.2`

[code]

[2022-10-18 15:31] TomWright commented on #229
Hi @GDA92, @deus101,

This is fixed in `v1.27.2`

[code]

[2022-10-18 15:31] #229 closed

[2022-10-18 16:01] TomWright commented on #213
Sorry for the slow work here, I've been busy!

This is fixed in `v1.27.3`.

[2022-10-18 16:01] #213 closed

[2022-10-18 17:51] danielhoherd commented on #213
Works great! Thanks!

[2022-10-31 15:01] tobiashochguertel opened #254 "Put documentation, shows a option "--plain" which isn't available"
When I modify with dasel my pom.xml files, they get complete reformated. I checked the docs, and found out that there is a option "--plain" described which stops reformating the document. I tried it out with the current version (v1.27.3) of dasel, but dasel doesn't offer this option.

Can we get this feature or remove the information from the docs? I would prefer to get this feature 🥇 .

[2022-10-31 23:31] TomWright commented on #254
Hey @tobiashochguertel,

As specified in the docs:

The `--plain` flag is simply an alias for `-w -`.

Dasel uses external parsers/encoders to read/write documents so cannot promise no formatting changes in the documents.

The `--plain` flag is more useful when selecting data rather than writing it as in this case.

[2022-10-31 23:31] #254 closed

[2022-11-14 06:20] rothgar opened #258 "Multiple selectors"
**Is your feature request related to a problem? Please describe.**
I would like to construct the selector output to allow multiple fields to be selected. Either by passing multiple `-s` flags or adding multiple selector filters to the cli. Similar to the way jq allows multiple fields to be selected. Ideally this would work with csv write parser so I can choose which fields are output

**Describe t

[2022-11-14 13:07] TomWright commented on #258
This is a (rather longwinded) way of achieving what you need.

[code]

To break this down:

Original file:
[code]

Dasel command to restructure:
[code]

With that format string in a nicer format it looks like:
[code]

We then have one final `dasel -r json -w csv` to change the file format.

To explain, the `--format` flag overrides the output format and allows you to use a [golang text/template](h

[2022-11-14 13:11] TomWright commented on #258
The restrict the fields passed in the output we could add an `--only a, b, c` flag, but that doesn't deal with the formatting issue.

[2022-11-14 13:46] TomWright commented on #258
I've started work on the `join-to-string` branch that will facilitate a slightly easier way:

[code]

A broken down example of that filter:
[code]

Notice here that we use [`selectMultiple`](https://daseldocs.tomwright.me/usage/flags/format#functions-and-accessors). This essentially allows us to run a subquery within the format template. We then join the results to a single comma separated string

[2022-11-14 14:01] TomWright commented on #258
One last approach here to give you multiple lines based on a subset of an objects fields:

[code]

Here we create an array of JSON objects, then convert that to a CSV.

[code]

Note that we have to use `format` to get the `make` and `model` since `selectMultiple` returns `[]*Node` which the templating engine isn't a fan of.

[2022-11-15 00:08] rothgar commented on #258
Thanks for all the examples! I just learned that `jq` also supports a `@csv` output option which will for for my use case. I really like the options dasel has but I might just stick with jq for this use case.

[2022-11-15 00:08] #258 closed

[2022-11-15 10:36] TomWright commented on #258
No problem at all. If you have any ideas on how I can simplify the experience dasel offers here I'm open to suggestions

[2022-11-23 19:51] TomWright commented on #258
Hey @rothgar , just a heads up - you can achieve this with dasel v2 (which is in a pre-release phase).

I added a test for this use-case here: https://github.com/TomWright/dasel/blob/4f9b9480bcdd76afc05bdc4a1599016e77d5839a/internal/command/select_test.go#L92

More information on v2 can be found here: https://daseldocs.tomwright.me/